# Essential Math for Data Science

## 8. Career Advice and the Path Forward

### SQL Proficiency

In [ ]:
SELECT CUSTOMER_ID, 
       NAME
    
FROM   CUSTOMER

WHERE  STATE = 'TX'

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
from sqlalchemy import create_engine, text

engine = create_engine('sqlite:///thunderbird_manufacturing.db')
conn = engine.connect()

stmt = text('SELECT * FROM CUSTOMER')
results = conn.execute(stmt)

for customer in results:
    print(customer)

(1, 'Alpha Medical', '18745 Train Dr', 'Dallas', 'TX', 75021, 'INDUSTRIAL')
(2, 'Oak Cliff Base', '2379 Cliff Ave', 'Abbevile', 'LA', 70510, 'GOVERNMENT')
(3, 'Sports Unlimited', '1605 Station Dr', 'Alexandrai', 'LA', 71301, 'COMMERCIAL')
(4, 'Riley Sporting Goods', '9854 Firefly Blvd', 'Austin', 'TX', 78701, 'COMMERCIAL')
(5, 'Lite Industrial', '462 Roadrunner Blvd', 'Houston', 'TX', 77254, 'INDUSTRIAL')
(6, 'Prairie Sports Center', '689 Stadium Way', 'Tulsa', 'OK', 74101, 'COMMERCIAL')
(7, 'Facility 95', '2396 Runway Dr', 'Oklahoma City', 'OK', 73101, 'GOVERNMENT')
(8, 'Allen Stadium', '573 HIllcrest Rd', 'Allen', 'TX', 75002, 'COMMERCIAL')
(9, 'Dent Research', '392 45th St', 'Waco', 'TX', 76700, 'INDUSTRIAL')
(10, 'Gamma Solutions', '2752 27th St', 'Phoenix', 'AZ', 85001, 'COMMERCIAL')

In [9]:
import pandas as pd

df = pd.read_sql('SELECT * FROM CUSTOMER', conn)
print(df)

   CUSTOMER_ID          CUSTOMER_NAME              ADDRESS           CITY  \
0            1          Alpha Medical       18745 Train Dr         Dallas
1            2         Oak Cliff Base       2379 Cliff Ave       Abbevile
2            3       Sports Unlimited      1605 Station Dr     Alexandrai
3            4   Riley Sporting Goods    9854 Firefly Blvd         Austin
4            5        Lite Industrial  462 Roadrunner Blvd        Houston
5            6  Prairie Sports Center      689 Stadium Way          Tulsa
6            7            Facility 95       2396 Runway Dr  Oklahoma City
7            8          Allen Stadium     573 HIllcrest Rd          Allen
8            9          Dent Research          392 45th St           Waco
9           10        Gamma Solutions         2752 27th St        Phoenix

  STATE    ZIP    CATEGORY
0    TX  75021  INDUSTRIAL
1    LA  70510  GOVERNMENT
2    LA  71301  COMMERCIAL
3    TX  78701  COMMERCIAL
4    TX  77254  INDUSTRIAL
5    OK  74101  COMMERCIAL
6    OK  73101  GOVERNMENT
7    TX  75002  COMMERCIAL
8    TX  76700  INDUSTRIAL
9    AZ  85001  COMMERCIAL