# Notes (06–07)

# 06. Data Wrangling

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/customer-churn-model/Customer Churn Model.txt')

In [10]:
data.head(10)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

In [7]:
data[['State', 'Account Length', 'Area Code']].head(10)

  State  Account Length  Area Code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510
6    MA             121        510
7    MO             147        415
8    LA             117        408
9    WV             141        415

In [13]:
data[data['Day Mins'] > 300].shape

(43, 21)

In [40]:
data[data['Day Mins'] > 300]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
197,TX,208,510,378-3625,no,no,0,326.5,67,55.51,...,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True.
230,MD,93,408,360-3324,yes,no,0,312.0,109,53.04,...,100,11.00,217.6,74,9.79,10.5,2,2.84,0,True.
289,OK,89,510,352-6976,no,no,0,303.9,95,51.66,...,114,22.18,312.1,89,14.04,5.3,3,1.43,1,True.
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.40,253.9,100,11.43,10.1,9,2.73,1,True.
534,LA,67,510,373-6784,no,no,0,310.4,97,52.77,...,123,5.65,246.5,99,11.09,9.2,10,2.48,4,False.
575,SD,114,415,351-7369,no,yes,36,309.9,90,52.68,...,89,17.03,183.5,105,8.26,14.2,2,3.83,1,False.
605,MO,112,415,373-2053,no,no,0,335.5,77,57.04,...,109,18.06,265.0,132,11.93,12.7,8,3.43,2,True.
688,MN,13,510,338-7120,no,yes,21,315.6,105,53.65,...,71,17.76,260.1,123,11.70,12.1,3,3.27,3,False.
732,IN,48,510,342-6696,no,no,0,300.4,94,51.07,...,103,11.32,197.4,94,8.88,7.2,5,1.94,2,False.
815,KY,75,415,341-1191,no,no,0,314.6,102,53.48,...,86,14.43,285.1,100,12.83,5.7,3,1.54,2,True.
832,SC,87,408,335-1874,no,no,0,322.5,106,54.83,...,93,17.39,186.2,128,8.38,9.4,4,2.54,2,True.
901,CT,23,510,370-5527,no,no,0,321.6,107,54.67,...,115,21.39,141.1,158,6.35,11.3,3,3.05,2,True.
975,DE,129,510,332-6181,no,no,0,334.3,118,56.83,...,104,16.33,191.0,83,8.59,10.4,6,2.81,0,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
1078,ME,80,408,333-7631,no,no,0,322.3,113,54.79,...,95,18.87,162.8,123,7.33,6.7,8,1.81,0,True.
1165,VT,50,415,387-5891,yes,yes,26,307.1,94,52.21,...,78,24.60,174.9,109,7.87,8.0,3,2.16,0,False.
1334,KS,126,408,379-8681,no,no,0,321.3,99,54.62,...,93,14.27,193.6,106,8.71,8.0,4,2.16,1,True.
1355,TX,50,408,330-6436,no,yes,31,302.7,93,51.46,...,119,20.44,193.9,103,8.73,13.6,14,3.67,3,False.
1679,OK,82,510,393-4823,no,no,0,329.8,73,56.07,...,120,17.71,267.1,102,12.02,10.6,6,2.86,0,True.
1830,CT,50,408,351-9037,no,no,0,301.7,82,51.29,...,118,14.20,72.2,89,3.25,10.5,6,2.84,1,False.
2028,SD,93,510,408-4836,no,no,0,328.1,106,55.78,...,89,12.89,303.5,114,13.66,8.7,3,2.35,1,True.
2215,MS,13,415,413-7468,no,no,0,303.2,133,51.54,...,86,14.49,227.6,80,10.24,11.5,3,3.11,0,True.
2259,NC,210,415,363-7802,no,yes,31,313.8,87,53.35,...,103,12.55,192.7,97,8.67,10.1,7,2.73,3,False.
2267,MS,29,510,401-6982,no,no,0,313.2,103,53.24,...,151,18.39,218.4,106,9.83,12.8,4,3.46,2,True.
2376,NV,42,415,352-5466,no,no,0,303.9,106,51.66,...,54,19.74,147.1,76,6.62,5.8,3,1.57,1,True.
2412,WI,89,415,373-4264,no,no,0,326.3,112,55.47,...,110,14.03,162.9,97,7.33,7.5,1,2.03,1,True.
2478,TN,123,415,415-3016,no,yes,34,305.2,80,51.88,...,109,13.30,280.0,81,12.60,13.2,7,3.56,1,False.
2572,MN,152,415,378-9542,no,no,0,317.8,60,54.03,...,100,13.00,123.4,63,5.55,10.4,7,2.81,1,True.
2573,WV,124,415,344-1970,no,no,0,312.0,112,53.04,...,109,15.30,168.6,94,7.59,12.8,4,3.46,1,True.
2594,OH,115,510,348-1163,yes,no,0,345.3,81,58.70,...,106,17.29,217.5,107,9.79,11.8,8,3.19,1,True.
2629,NH,141,415,402-3370,no,yes,32,322.4,92,54.81,...,107,24.07,209.5,111,9.43,6.7,3,1.81,1,True.
2660,NJ,88,415,347-8659,no,no,0,301.5,136,51.26,...,72,21.90,132.9,118,5.98,13.4,2,3.62,4,True.
2677,IA,44,415,359-7426,no,no,0,308.6,139,52.46,...,94,12.82,198.7,66,8.94,7.3,3,1.97,4,True.
2696,MI,74,415,359-6232,no,no,0,314.1,86,53.40,...,99,18.90,259.0,121,11.66,12.3,5,3.32,3,True.
2824,OR,81,415,406-4100,no,no,0,324.7,48,55.20,...,82,20.09,187.6,78,8.44,13.1,5,3.54,0,True.
2858,AL,141,510,388-8583,no,yes,28,308.0,123,52.36,...,128,21.06,152.9,103,6.88,7.4,3,2.00,1,False.
3072,TX,75,415,417-4456,no,no,0,305.1,106,51.87,...,115,15.98,235.4,116,10.59,8.5,5,2.30,0,True.
3132,NC,161,415,394-5489,no,no,0,322.3,100,54.79,...,135,19.58,241.5,104,10.87,7.8,5,2.11,2,True.
3207,DC,93,408,345-1994,no,yes,22,306.2,123,52.05,...,83,16.12,240.3,107,10.81,11.7,2,3.16,0,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.

In [16]:
len(data[data['State']=='NY'])

83

In [17]:
data[data['State']=='NY'].shape

(83, 21)

In [22]:
data_day_300 = data['Day Mins'] > 300
data_ny = data['State']=='NY'

In [33]:
data_combined = data[data_day_300 & data_ny]
data_combined.head(10)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [38]:
data_combined = data[data_day_300 | data_ny]
data_combined.head(10)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
197,TX,208,510,378-3625,no,no,0,326.5,67,55.51,...,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True.
230,MD,93,408,360-3324,yes,no,0,312.0,109,53.04,...,100,11.00,217.6,74,9.79,10.5,2,2.84,0,True.
289,OK,89,510,352-6976,no,no,0,303.9,95,51.66,...,114,22.18,312.1,89,14.04,5.3,3,1.43,1,True.

In [39]:
data[['State', 'Account Length', 'Area Code']]

     State  Account Length  Area Code
0       KS             128        415
1       OH             107        415
2       NJ             137        415
3       OH              84        408
4       OK              75        415
...    ...             ...        ...
3328    AZ             192        415
3329    WV              68        415
3330    RI              28        510
3331    CT             184        510
3332    TN              74        415

[3333 rows x 3 columns]

In [42]:
data['Night Calls']

0        91
1       103
2       104
3        89
4       121
       ...
3328     83
3329    123
3330     91
3331    137
3332     77
Name: Night Calls, Length: 3333, dtype: int64

In [43]:
data['Day Calls']

0       110
1       123
2       114
3        71
4       113
       ...
3328     77
3329     57
3330    109
3331    105
3332    113
Name: Day Calls, Length: 3333, dtype: int64

# 07. Data Grouping and Filtering

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.choice(['male', 'female'])

'female'

In [3]:
n = 500

In [4]:
range(0, n)

range(0, 500)

In [5]:
height = 160 + 30 * np.random.randn(500)

In [6]:
height

array([154.67511498, 139.26467708, 159.97841519, 189.2264718 ,
       185.80135978, 149.67017607, 201.35112172, 158.70879299,
       107.43439073, 203.44973459, 207.25166461, 131.07149594,
       229.50597168, 136.43555681, 202.06542613, 215.00111951,
       197.70047766, 178.48309577, 188.07068602, 169.65708071,
       204.5871061 , 121.52151839, 188.01605226, 221.60792913,
       168.2214912 , 154.02262273, 190.51878677, 137.20377052,
       135.85520391, 155.50657735, 160.18431481, 177.67832217,
       156.73108009, 165.69757106, 166.74949524,  99.84219773,
       129.16929299, 183.25097178, 190.7748331 , 136.29331762,
       225.33044975, 210.90421071, 111.43882151, 122.02439264,
       231.33976699, 167.70196396, 176.66498779, 138.79591305,
       135.25024319, 166.18825378, 205.81820919, 110.05293527,
       137.58490831, 214.14945934, 108.83831082, 134.27495434,
       190.91930932, 154.98486131, 117.3738711 , 180.35668002,
       162.02626967, 155.49029636,  94.71502437, 153.9109573 ,
       135.50026179, 184.19081323, 110.81495378, 178.89316674,
       136.6829027 , 115.24089052, 178.4419551 , 160.37027506,
       157.28047635, 162.63817538, 178.63268608,  96.33922218,
       169.58242011, 154.11842506, 163.30376889, 184.8541951 ,
       111.80238501, 138.51309521, 195.91397859, 122.69850123,
       158.61076507, 227.62422962, 175.03962728, 177.98148208,
       168.63629491, 158.19840399, 143.63640518, 168.16017379,
       217.53687626, 182.26841335, 215.31476377, 193.35458048,
       144.92330519, 158.03345075, 166.28063558, 132.28825183,
       172.3119968 , 173.72649834, 153.0909852 , 143.19554079,
       134.78830007, 114.88621128, 174.74858901, 188.01083689,
       179.95879977, 168.40153131, 109.19910309,  66.15392783,
       112.53966042, 164.80238067, 154.63030198, 137.69708072,
       155.34103712, 209.64597331, 131.40427796, 166.28245172,
       140.58782128, 169.335583  , 140.3580763 , 119.6369558 ,
       162.12947868, 112.59181598, 183.64439575, 210.45636466,
       180.98202021, 137.69770718, 144.02407352, 126.08531149,
       243.49766378, 182.03310138, 157.83013437, 181.24368915,
       172.7531597 , 132.1917052 , 213.35540348, 167.22410933,
       182.49488236, 184.71187914, 177.80920776, 174.60660624,
       185.14925038, 179.22008382, 142.48873059, 129.85464976,
       139.91749872, 115.99043787, 131.5473536 , 154.17132232,
       178.54525192, 162.70557418, 160.43101796, 126.37365925,
       137.26409751, 205.55475009, 111.01804752, 138.70789182,
       140.66245436, 145.2028919 , 206.91194471, 190.11871228,
       184.95421348, 161.84432382, 195.55897544, 128.43761163,
       116.53605248, 188.06064052, 169.93916994, 141.64407779,
        97.22790235, 190.74109229, 198.15937217, 146.95334448,
       168.13226966, 177.61195827, 193.3209869 , 227.5853834 ,
       204.09111987, 124.696085  , 172.02933375, 161.80317096,
       153.80684504, 144.51934446, 219.1518902 , 153.14641007,
       194.83125822, 174.92945516, 215.48622367, 162.88005466,
       190.11133571, 143.33103212, 150.78133661, 162.61635384,
       154.16185163, 135.29961517, 177.46266641, 161.20804999,
       199.96458595, 181.19524846, 124.78923931, 188.21245074,
       152.94413409, 145.88142738, 148.49345641, 131.91240218,
       174.19043666, 190.66703014, 174.45425961, 157.79176279,
       219.54573215, 165.89752729, 174.02764906,  58.00040826,
       176.24605582, 143.82115711, 207.7214956 , 162.37348317,
       145.02683268, 158.77853163, 120.83105467, 146.49052615,
       158.69194148, 129.26157124, 140.38459826, 167.57681255,
       131.9358058 , 155.44096382, 136.98352101, 195.08136762,
       149.8727076 , 141.16699695, 183.96263179, 159.67460827,
       178.36005013, 188.38361557, 189.32753097, 135.18741148,
        98.0289609 , 185.57496547, 129.14699102, 177.67450849,
       101.689708  , 218.2049921 , 191.31065414, 119.09935921,
       171.15110025, 188.14972977, 192.88755392, 178.11535374,
       148.91543237, 170.8055821 , 145.84175743, 106.23694119,
       210.99024179, 182.85868145, 123.19397917, 185.47897125,
       175.02875057, 133.64651083, 123.76435268, 195.34811621,
       146.72399902, 175.08227223, 135.96533363, 105.12578436,
       184.28974201, 217.26709475, 124.64956031, 199.74872211,
       172.94670589, 119.52095932, 163.29578761, 178.42673859,
       152.86009316, 151.82401758, 173.4408251 , 123.64936786,
       168.56536369, 154.46618316, 140.1519798 , 101.00051859,
       188.94799802, 188.22308085, 175.05235068, 189.63767245,
       196.76993762, 128.71774342, 134.26589148, 201.56653627,
       165.99031697, 187.39053322, 191.44916856, 157.31447629,
       142.42139455, 179.05226139, 125.50345729, 124.36215113,
       143.18160396, 185.08718777, 194.27701207, 138.18857701,
       158.96599575, 123.47946213, 186.61199161, 168.97560061,
       104.26156787, 101.73144224, 227.86215686, 188.74067496,
       162.16838922, 128.9656682 , 135.41480706, 109.76492749,
       168.46475941, 154.98349511, 200.60831736, 134.90121747,
       195.15410212, 176.2568855 , 166.63510109, 206.44116847,
       217.01570327, 189.7647285 , 193.23021617, 133.70287293,
       158.73814208, 159.43996598, 139.47441022, 145.0206049 ,
       154.74877574, 158.39621121, 166.38322545, 215.837698  ,
       154.29654471, 138.85967228, 109.69022488, 182.53613397,
       217.47859346, 138.47956286, 163.29565953,  99.16619909,
       172.34784124, 125.59789995, 187.11455529, 151.64707613,
       123.33990491, 164.17854605, 197.30998875, 178.23303466,
       153.29619547, 192.8332698 , 155.62811927, 217.0738076 ,
       170.709803  , 110.58362851, 155.29499723, 175.07340465,
       136.75312759, 198.69979375, 124.42006157, 174.27275249,
       169.09481587, 152.52656869, 184.5784976 , 163.263205  ,
       168.27212534, 144.05587718, 165.66443997, 120.471519  ,
       176.71314197, 125.47948636,  95.13410144, 224.94316244,
       175.18156127, 134.33421242, 177.67516262, 178.6291095 ,
       180.16114299, 157.5043145 , 150.25146758, 120.81971584,
       183.09657795, 138.83118015, 204.21540292, 208.60130239,
       167.56146599, 172.45998452, 191.04110871, 228.86537499,
       156.82971237, 141.01681261, 165.37060954, 125.68369175,
       120.54753805, 162.28863037, 159.55997811, 139.78336469,
       116.77390365, 132.38324354, 214.88203256, 166.39879148,
       174.48537266, 153.28033419, 136.08373229, 149.46443762,
       125.41405334, 133.64329265, 166.38207539, 181.70642753,
        87.27461365, 187.59012871, 173.7202534 , 137.9839918 ,
       173.05474686, 158.05117491, 126.74927188, 174.0116364 ,
       138.4482861 , 170.16964414, 201.9620455 , 151.33688167,
       159.38899031, 162.08292259, 137.75768524, 109.1227175 ,
       143.77334004, 159.33636915, 185.82651165, 168.64809899,
       139.26717503, 145.33597067, 155.1919732 , 122.38148849,
       173.10604316, 125.82407653, 178.58995154, 142.15693802,
       195.46056097, 155.53890546, 200.40533977, 147.66327296,
       149.02570151, 178.28475852, 125.91020306, 141.90890255,
       159.52809823, 167.94612247, 202.06740632, 106.02271256,
       201.01804263, 179.05944666, 100.05932125, 187.6762919 ,
       103.40479281, 175.78323517,  82.02730559, 166.73600608,
       160.23859241, 208.53297858, 114.87548956,  88.46808044,
       171.70818123, 203.41289963, 157.79876996, 166.17467299,
       150.38212541, 150.12736673, 175.01917934, 139.96820905,
       186.15539559, 179.46091909, 176.16691413, 184.37819111,
       170.94245299, 172.1498805 , 121.93177501, 147.63929207,
       114.94178564, 173.19435166, 120.94693441, 168.80472493,
       165.74071338, 144.83903821, 166.68199159, 152.54362985,
       217.82641719, 196.48554715, 170.03335007, 125.81819666,
       128.53234814, 177.91074006, 150.98744106, 129.11965799,
       192.9280644 , 157.48914447, 178.40205955, 164.01420921])

In [7]:
np.random.randn(10)

array([-0.21248939, -0.00253006, -0.22634135, -0.16375935, -0.76615943,
       -0.23795516,  0.75849775, -1.11655372,  2.04481247, -0.03573318])

In [20]:
import pandas as pd
import numpy as np

# Sample data
data = {
    "Student": ["Alice", "Bob", "Alice", "Bob", "Alice", "Bob"],
    "Subject": ["Math", "Math", "Science", "Science", "Math", "Science"],
    "Score": [90, 85, 78, 92, 88, 80]
}

df = pd.DataFrame(data)

# Group by 'Subject' and calculate average score normalized by standard deviation
grouped = df.groupby("Subject").aggregate(
    {
        "Score": lambda scores: np.mean(scores) / np.std(scores)
    }
)

print(grouped)

             Score
Subject
Math     42.664234
Science  13.479097

In [17]:
df

  Student  Subject  Score
0   Alice     Math     90
1     Bob     Math     85
2   Alice  Science     78
3     Bob  Science     92
4   Alice     Math     88
5     Bob  Science     80

In [19]:
df.groupby('Subject')['Score'].mean()

Subject
Math       87.666667
Science    83.333333
Name: Score, dtype: float64

In [24]:
import pandas as pd
import numpy as np

# Sample data
data = {
    "Student": ["Alice", "Bob", "Alice", "Bob", "Alice", "Bob"],
    "Subject": ["Math", "Math", "Science", "Science", "Math", "Science"],
    "Score": [90, 85, 78, 92, 88, 80]
}

df = pd.DataFrame(data)

# Group by 'Subject' and calculate normalized average score by standard deviation
grouped = df.groupby("Subject").aggregate(
    {
        "Score": lambda x: (np.mean(x) / np.std(x))
    }
)

print(grouped)

             Score
Subject
Math     42.664234
Science  13.479097

In [25]:
numbers = range(1, 11)

In [29]:
squared_numbers = list(map(lambda x: x**2, numbers))

In [30]:
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]