# Notes

# 4. The Easiest Way to Create an Interactive Dashboard in Python

In [6]:
import pandas as pd

In [2]:
list_ex = [1, 2, 3, 4]

In [7]:
list_ex_df = pd.DataFrame(list_ex)

In [8]:
list_ex_df

   0
0  1
1  2
2  3
3  4

In [12]:
list_ex_df.isin([2])

       0
0  False
1   True
2  False
3  False