**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [6]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

crime

In [9]:
print(len(tables))

1

In [7]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [8]:
q_1.hint()
q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

Solution:
```python

# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

num_tables = 1

```

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [18]:
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)
print(table.schema)

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None), SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None), SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('block', 'STRING', 'NULLABLE', None, (), None), SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None), SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None), SchemaField('description', 'STRING', 'NULLABLE', None, (), None), SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None), SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None), SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None), SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None), SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [19]:
num_timestamp_fields = 2 # Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [14]:
q_2.hint()
q_2.solution()

Hint: Begin by fetching the `crime` table. Then take a look at the table schema, and check the field type of each column.  How many times does `'TIMESTAMP'` appear?

Solution:
```python

# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "chicago_crime" dataset
print(table.schema)

num_timestamp_fields = 2

```

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [20]:
client.list_rows(table, max_results = 5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,12468728,JE356760,2021-08-22 12:00:00+00:00,002XX N WABASH AVE,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL / MOTEL,False,False,...,42.0,32.0,02,1176777.0,1901808.0,2021,2021-09-02 03:41:42+00:00,41.885908,-87.626289,"(41.885908101, -87.626289429)"
1,12457703,JE343263,2021-08-20 01:07:00+00:00,003XX N LOWER MICHIGAN AVE,0291,CRIMINAL SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,STREET,True,False,...,42.0,32.0,02,1177247.0,1902310.0,2021,2022-08-08 03:40:21+00:00,41.887275,-87.624548,"(41.887274976, -87.624548283)"
2,1405710,G120915,2001-03-02 05:18:32+00:00,005XX W ADAMS ST,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,STREET,False,False,...,NaN,NaN,03,1173149.0,1899414.0,2001,2015-08-17 03:03:40+00:00,41.879420,-87.639683,"(41.879420068, -87.639683148)"
3,12949311,JG112697,2023-01-07 06:00:00+00:00,001XX N STATE ST,031A,ROBBERY,ARMED - HANDGUN,CTA TRAIN,False,False,...,42.0,32.0,03,1176330.0,1901649.0,2023,2023-08-19 03:40:26+00:00,41.885482,-87.627936,"(41.885481891, -87.627935689)"
4,3123952,HJ840094,2003-12-26 02:00:00+00:00,003XX W LAKE ST,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,42.0,32.0,03,1174197.0,1901725.0,2003,2018-02-10 03:50:01+00:00,41.885738,-87.635766,"(41.885738286, -87.63576612)"

In [24]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [23]:
q_3.hint()
q_3.solution()

Hint: Look at the table schema.  There are a couple options, but two of the fields are things commonly used to plot on maps. Both are `'FLOAT'` types. Use quotes around the field names in your answer.

Solution:
```python
fields_for_plotting = ['latitude', 'longitude']
```

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [27]:
client.list_rows(table, selected_fields=table.schema[-3:], max_results=5).to_dataframe()

    latitude  longitude                       location
0  41.885908 -87.626289  (41.885908101, -87.626289429)
1  41.887275 -87.624548  (41.887274976, -87.624548283)
2  41.879420 -87.639683  (41.879420068, -87.639683148)
3  41.885482 -87.627936  (41.885481891, -87.627935689)
4  41.885738 -87.635766   (41.885738286, -87.63576612)

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*