# <b>Kaggle Learn</b>
# 12. Time Series

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress = True)
from pandas import Series, DataFrame
%matplotlib inline

## 1. Linear Regression With Time Series

In [2]:
df = pd.read_csv('input/book_sales.csv', 
                 index_col = 'Date', 
                 parse_dates = ['Date']).drop('Paperback', axis = 1)
df.head()

            Hardcover
Date
2000-04-01        139
2000-04-02        128
2000-04-03        172
2000-04-04        139
2000-04-05        191

In [3]:
df['Time'] = np.arange(len(df.index))
df.head()

            Hardcover  Time
Date
2000-04-01        139     0
2000-04-02        128     1
2000-04-03        172     2
2000-04-04        139     3
2000-04-05        191     4