# <b>Practice</b>
# 0. Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## 1. Dataset 1

In [2]:
path001 = 'datasets/001. Bureau of Fire Investigations - Fire Causes/Bureau_of_Fire_Investigations_-_Fire_Causes_20240603.csv'

In [16]:
df = pd.read_csv(path001)#, parse_dates=['Incident_DateTime'])

In [17]:
df.head()

,Case_Year,Case Number,Incident_DateTime,Borough,Battalion,Community_District,Precinct,Incident_Classification,Cause_Fire_Description,Fire_Code_Category
0,2016,40001,01/01/2016 12:08:00 AM,Queens,50,8,107,MD Residential Structure,Smoking (Cigarette/Cigar),Smoking
1,2016,50001,01/01/2016 12:13:00 AM,Staten Island,21,2,122,PD Residential Structure,Incendiary - Combustible Material,Incendiary
2,2016,40002,01/01/2016 12:21:00 AM,Queens,37,5,104,MD Residential Structure,Incendiary - Combustible Material,Incendiary
3,2016,60001,01/01/2016 12:29:00 AM,Bronx,15,12,47,Burn Notification (Albany),Albany Burn Notif. Unrelated to a Fire/Explosion,Other
4,2016,40003,01/01/2016 12:32:00 AM,Queens,50,12,103,PD Residential Structure,Incendiary - Combustible Material,Incendiary

In [21]:
df = pd.read_csv(path001, parse_dates=['Incident_DateTime'])
df.head()

,Case_Year,Case Number,Incident_DateTime,Borough,Battalion,Community_District,Precinct,Incident_Classification,Cause_Fire_Description,Fire_Code_Category
0,2016,40001,2016-01-01 00:08:00,Queens,50,8,107,MD Residential Structure,Smoking (Cigarette/Cigar),Smoking
1,2016,50001,2016-01-01 00:13:00,Staten Island,21,2,122,PD Residential Structure,Incendiary - Combustible Material,Incendiary
2,2016,40002,2016-01-01 00:21:00,Queens,37,5,104,MD Residential Structure,Incendiary - Combustible Material,Incendiary
3,2016,60001,2016-01-01 00:29:00,Bronx,15,12,47,Burn Notification (Albany),Albany Burn Notif. Unrelated to a Fire/Explosion,Other
4,2016,40003,2016-01-01 00:32:00,Queens,50,12,103,PD Residential Structure,Incendiary - Combustible Material,Incendiary

In [24]:
cond = df['Incident_DateTime'].dt.dayofweek == 1
df[cond]

,Case_Year,Case Number,Incident_DateTime,Borough,Battalion,Community_District,Precinct,Incident_Classification,Cause_Fire_Description,Fire_Code_Category
116,2016,77038,2016-01-05 00:15:00,Manhattan,1,1,1,MD Residential Structure,Candle,Open Flame
117,2016,70002,2016-01-05 01:23:00,Manhattan,11,7,20,Outside Rubbish,Smoking (Cigarette/Cigar),Smoking
118,2016,77064,2016-01-05 02:16:00,Brooklyn,38,9,71,MD Residential Structure,Preliminary Investigation Only,Other
119,2016,50003,2016-01-05 03:29:00,Staten Island,21,2,122,MFA,MFA,No Fire
120,2016,30017,2016-01-05 06:07:00,Brooklyn,39,5,75,Commercial Structure,Other - Hot Objects,Hot Objects
...,...,...,...,...,...,...,...,...,...,...
53709,2024,30404,2024-04-23 13:07:00,Brooklyn,42,11,62,PD Residential Structure,Electrical Wiring,Electrical
53710,2024,20330,2024-04-23 14:02:00,Bronx,18,6,48,Vehicle,Preliminary Investigation Only,Other
53711,2024,30407,2024-04-23 16:24:00,Brooklyn,38,9,71,MD Residential Structure,Smoking (Cigarette/Cigar),Smoking
53733,2024,40399,2024-04-30 02:08:00,Queens,46,4,110,Vehicle,Preliminary Investigation Only,Other
53734,2024,10224,2024-04-30 13:38:00,Manhattan,8,6,17,MD Residential Structure,Heat or Sparks from Friction,Hot Objects

In [15]:
df.dtypes

Case_Year                           int64
Case Number                         int64
Incident_DateTime          datetime64[ns]
Borough                            object
Battalion                          object
Community_District                 object
Precinct                           object
Incident_Classification            object
Cause_Fire_Description             object
Fire_Code_Category                 object
dtype: object

In [5]:
df.shape

(53741, 10)

In [6]:
df.describe()

          Case_Year   Case Number
count  53741.000000  53741.000000
mean    2019.336019  45863.314750
std        2.381225  24401.648624
min     2016.000000      0.000000
25%     2017.000000  30054.000000
50%     2019.000000  40435.000000
75%     2021.000000  77092.000000
max     2024.000000  80298.000000

In [7]:
df['Incident_DateTime'].max()

'12/31/2023 12:43:00 PM'

In [8]:
df.dtypes

Case_Year                   int64
Case Number                 int64
Incident_DateTime          object
Borough                    object
Battalion                  object
Community_District         object
Precinct                   object
Incident_Classification    object
Cause_Fire_Description     object
Fire_Code_Category         object
dtype: object

In [9]:
print(np.sort(df['Case_Year'].unique()))

[2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [10]:
df.nunique()

Case_Year                      9
Case Number                 9543
Incident_DateTime          52343
Borough                        6
Battalion                     57
Community_District            19
Precinct                      96
Incident_Classification       33
Cause_Fire_Description       134
Fire_Code_Category            15
dtype: int64

In [11]:
df.sort_values(by = ['Case Number', 'Incident_DateTime']).head(20)

,Case_Year,Case Number,Incident_DateTime,Borough,Battalion,Community_District,Precinct,Incident_Classification,Cause_Fire_Description,Fire_Code_Category
41414,2022,0,01/26/2022 11:15:34 AM,Brooklyn,NaN,1,90,Other,Preliminary Investigation Only,Other
30960,2020,0,03/24/2020 05:02:57 PM,Brooklyn,NaN,17,67,Other,Preliminary Investigation Only,Other
29287,2020,1,01/01/2020 12:33:55 AM,Manhattan,NaN,8,19,Other,Other,Other
35539,2021,10000,01/01/2021 04:03:52 AM,Manhattan,NaN,6,13,Other,Other,Other
46891,2023,10000,01/01/2023 12:51:15 AM,Manhattan,16,10,32,MD Residential Structure,Other - Hot Objects,Hot Objects
52461,2024,10000,01/01/2024 01:37:00 AM,Manhattan,NaN,1,14,No Fire,Preliminary Investigation Only,Other
41038,2022,10000,01/03/2022 09:07:05 AM,Manhattan,NaN,7,20,Hotel,Other,Other
5,2016,10001,01/01/2016 12:46:00 AM,Manhattan,9,4,14,MD Residential Structure,Candle,Open Flame
15471,2018,10001,01/01/2018 10:58:45 PM,Manhattan,NaN,7,24,Commercial Structure,Stove/Cooking - Other,Cooking Carelessness
22297,2019,10001,01/01/2019 04:50:09 PM,Manhattan,13,12,33,MD Residential Structure,Fuse/Circuit Breaker Panel,Electrical
29286,2020,10001,01/01/2020 12:33:00 AM,Manhattan,NaN,8,19,MD Residential Structure,Spontaneous Combustion,Natural Sources
35540,2021,10001,01/01/2021 04:03:52 AM,Manhattan,6,6,13,Group Home,MFA,No Fire
8036,2017,10001,01/02/2017 03:46:29 AM,Manhattan,4,3,5,MD Residential Structure,Electrical Wiring,Electrical
46918,2023,10001,01/02/2023 09:07:08 PM,Manhattan,NaN,8,17,Transit,Electrical Wiring,Electrical
41037,2022,10001,01/03/2022 09:07:05 AM,Manhattan,11,7,20,Hotel,Smoking (Cigarette/Cigar),Smoking
10,2016,10002,01/01/2016 05:31:00 AM,Manhattan,9,4,18,MD Residential Structure,Candle,Open Flame
29288,2020,10002,01/01/2020 01:12:35 AM,Manhattan,NaN,9,30,MD Residential Structure,Electrical Wiring,Electrical
35553,2021,10002,01/01/2021 04:15:22 PM,Manhattan,11,7,24,MD Residential Structure,Smoking (Cigarette/Cigar),Smoking
52477,2024,10002,01/01/2024 05:41:00 PM,Manhattan,NaN,2,6,Vehicle,Preliminary Investigation Only,Other
8044,2017,10002,01/02/2017 05:13:45 PM,Manhattan,9,5,18,Hotel,Heat from Light Bulb,Hot Objects

In [117]:
groupby1 = df.groupby(by = ['Case Number']).count()
groupby1['Incident_DateTime'].sort_values(ascending = False)

Case Number
40102    9
20203    9
20212    9
20211    9
30125    9
        ..
60576    1
60575    1
60574    1
60573    1
80298    1
Name: Incident_DateTime, Length: 9543, dtype: int64

In [122]:
df[df['Case Number'] == 20203].sort_values(by = 'Case_Year')

,Case_Year,Case Number,Incident_DateTime,Borough,Battalion,Community_District,Precinct,Incident_Classification,Cause_Fire_Description,Fire_Code_Category
2344,2016,20203,04/17/2016 06:26:00 PM,Bronx,18,9,43,MD Residential Structure,Smoking (Cigarette/Cigar),Smoking
10442,2017,20203,04/20/2017 04:15:47 AM,Bronx,27,7,52,MD Residential Structure,Incendiary - Combustible Material,Incendiary
17487,2018,20203,04/10/2018 02:55:13 PM,Bronx,13,5,46,MD Residential Structure,Electrical Wiring,Electrical
24400,2019,20203,04/23/2019 05:31:51 PM,Bronx,14,1,40,MD Residential Structure,Stove/Cooking - Electric,Cooking Carelessness
30805,2020,20203,03/14/2020 12:46:46 AM,Bronx,NaN,9,43,MD Residential Structure,Incendiary,Incendiary
36550,2021,20203,03/11/2021 09:20:10 AM,Bronx,3,9,43,Vehicle,Motors - Fossil Fuel Powered,Motors
42287,2022,20203,03/19/2022 01:48:06 PM,Bronx,26,2,41,MD Residential Structure,Food on the Stove,Cooking Carelessness
48137,2023,20203,03/09/2023 10:35:20 AM,Bronx,17,4,44,MD Residential Structure,Electrical Wiring,Electrical
53336,2024,20203,03/10/2024 11:28:00 AM,Bronx,27,11,52,Vehicle,Preliminary Investigation Only,Other

## Other datasets

In [36]:
# Dataset 5
path005 = 'datasets/005. Civilian Complaint Review Board. Complaints Against Police Officers/Civilian_Complaint_Review_Board__Complaints_Against_Police_Officers_20240603.csv'
df005 = pd.read_csv(path005)
df005.head()

,As Of Date,Complaint Id,Incident Date,Incident Hour,CCRB Received Date,Close Date,Borough Of Incident Occurrence,Precinct Of Incident Occurrence,Location Type Of Incident,Reason for Police Contact,Outcome Of Police Encounter,CCRB Complaint Disposition
0,06/03/2024,201710127,2017-11-13,16.0,12/07/2017 12:00:00 AM,03/28/2018 06:32:47 PM,Brooklyn,79,Street/highway,Moving violation,Moving violation summons issued,Complainant Uncooperative
1,06/03/2024,201803819,2018-05-06,18.0,05/14/2018 11:19:00 AM,07/10/2018 10:10:56 AM,Bronx,46,Street/highway,Parking violation,Parking summons issued,Complainant Uncooperative
2,06/03/2024,201904506,2019-05-24,8.0,05/24/2019 08:49:42 AM,10/31/2019 12:57:08 PM,Queens,105,Street/highway,Moving violation,Moving violation summons issued,Unfounded
3,06/03/2024,201601677,2016-02-25,19.0,03/02/2016 08:35:06 AM,06/16/2016 08:04:40 PM,Brooklyn,88,Street/highway,PD suspected C/V of violation/crime - street,Arrest - other violation/crime,Unsubstantiated
4,06/03/2024,201102375,2011-02-23,19.0,02/23/2011 12:00:00 AM,08/22/2012 02:27:42 PM,Bronx,40,Street/highway,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Command Discipline)

In [31]:
df002.shape

(180, 18)

In [36]:
# Dataset 5
path005 = 'datasets/005. Civilian Complaint Review Board. Complaints Against Police Officers/Civilian_Complaint_Review_Board__Complaints_Against_Police_Officers_20240603.csv'
df005 = pd.read_csv(path005)
df005.head()

,As Of Date,Complaint Id,Incident Date,Incident Hour,CCRB Received Date,Close Date,Borough Of Incident Occurrence,Precinct Of Incident Occurrence,Location Type Of Incident,Reason for Police Contact,Outcome Of Police Encounter,CCRB Complaint Disposition
0,06/03/2024,201710127,2017-11-13,16.0,12/07/2017 12:00:00 AM,03/28/2018 06:32:47 PM,Brooklyn,79,Street/highway,Moving violation,Moving violation summons issued,Complainant Uncooperative
1,06/03/2024,201803819,2018-05-06,18.0,05/14/2018 11:19:00 AM,07/10/2018 10:10:56 AM,Bronx,46,Street/highway,Parking violation,Parking summons issued,Complainant Uncooperative
2,06/03/2024,201904506,2019-05-24,8.0,05/24/2019 08:49:42 AM,10/31/2019 12:57:08 PM,Queens,105,Street/highway,Moving violation,Moving violation summons issued,Unfounded
3,06/03/2024,201601677,2016-02-25,19.0,03/02/2016 08:35:06 AM,06/16/2016 08:04:40 PM,Brooklyn,88,Street/highway,PD suspected C/V of violation/crime - street,Arrest - other violation/crime,Unsubstantiated
4,06/03/2024,201102375,2011-02-23,19.0,02/23/2011 12:00:00 AM,08/22/2012 02:27:42 PM,Bronx,40,Street/highway,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Command Discipline)

In [33]:
df003.shape

(61, 36)

In [36]:
# Dataset 5
path005 = 'datasets/005. Civilian Complaint Review Board. Complaints Against Police Officers/Civilian_Complaint_Review_Board__Complaints_Against_Police_Officers_20240603.csv'
df005 = pd.read_csv(path005)
df005.head()

,As Of Date,Complaint Id,Incident Date,Incident Hour,CCRB Received Date,Close Date,Borough Of Incident Occurrence,Precinct Of Incident Occurrence,Location Type Of Incident,Reason for Police Contact,Outcome Of Police Encounter,CCRB Complaint Disposition
0,06/03/2024,201710127,2017-11-13,16.0,12/07/2017 12:00:00 AM,03/28/2018 06:32:47 PM,Brooklyn,79,Street/highway,Moving violation,Moving violation summons issued,Complainant Uncooperative
1,06/03/2024,201803819,2018-05-06,18.0,05/14/2018 11:19:00 AM,07/10/2018 10:10:56 AM,Bronx,46,Street/highway,Parking violation,Parking summons issued,Complainant Uncooperative
2,06/03/2024,201904506,2019-05-24,8.0,05/24/2019 08:49:42 AM,10/31/2019 12:57:08 PM,Queens,105,Street/highway,Moving violation,Moving violation summons issued,Unfounded
3,06/03/2024,201601677,2016-02-25,19.0,03/02/2016 08:35:06 AM,06/16/2016 08:04:40 PM,Brooklyn,88,Street/highway,PD suspected C/V of violation/crime - street,Arrest - other violation/crime,Unsubstantiated
4,06/03/2024,201102375,2011-02-23,19.0,02/23/2011 12:00:00 AM,08/22/2012 02:27:42 PM,Bronx,40,Street/highway,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Command Discipline)

In [37]:
df005.shape

(128338, 12)

In [36]:
# Dataset 5
path005 = 'datasets/005. Civilian Complaint Review Board. Complaints Against Police Officers/Civilian_Complaint_Review_Board__Complaints_Against_Police_Officers_20240603.csv'
df005 = pd.read_csv(path005)
df005.head()

,As Of Date,Complaint Id,Incident Date,Incident Hour,CCRB Received Date,Close Date,Borough Of Incident Occurrence,Precinct Of Incident Occurrence,Location Type Of Incident,Reason for Police Contact,Outcome Of Police Encounter,CCRB Complaint Disposition
0,06/03/2024,201710127,2017-11-13,16.0,12/07/2017 12:00:00 AM,03/28/2018 06:32:47 PM,Brooklyn,79,Street/highway,Moving violation,Moving violation summons issued,Complainant Uncooperative
1,06/03/2024,201803819,2018-05-06,18.0,05/14/2018 11:19:00 AM,07/10/2018 10:10:56 AM,Bronx,46,Street/highway,Parking violation,Parking summons issued,Complainant Uncooperative
2,06/03/2024,201904506,2019-05-24,8.0,05/24/2019 08:49:42 AM,10/31/2019 12:57:08 PM,Queens,105,Street/highway,Moving violation,Moving violation summons issued,Unfounded
3,06/03/2024,201601677,2016-02-25,19.0,03/02/2016 08:35:06 AM,06/16/2016 08:04:40 PM,Brooklyn,88,Street/highway,PD suspected C/V of violation/crime - street,Arrest - other violation/crime,Unsubstantiated
4,06/03/2024,201102375,2011-02-23,19.0,02/23/2011 12:00:00 AM,08/22/2012 02:27:42 PM,Bronx,40,Street/highway,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Command Discipline)

In [37]:
df005.shape

(128338, 12)

In [38]:
# Dataset 6
path006 = 'datasets/006. Summary of Syringe Data in NYC Parks/Summary_of_Syringe_Data_in_NYC_Parks_20240603.csv'
df006 = pd.read_csv(path006)
df006.head()

,response_id,gispropnum,omppropid,collected_date,time_of_day,year,month,month_text,week,group,...,total_syringes,kiosk_number,kiosk_type,precinct,borough,district,property_type,kiosk_site,created_date,source
0,M-005141,M037,M037-ZN02,12/07/2022 12:00:00 AM,AM,2022,12,Dec,50,Parks,...,8.0,NaN,NaN,2.0,Manhattan,M-12A,ZONE,True,2022-12-07 17:12:03.0000000,M&O MS Forms
1,M-005150,M037,M037-ZN02,12/08/2022 12:00:00 AM,AM,2022,12,Dec,50,Parks,...,14.0,NaN,NaN,2.0,Manhattan,M-12A,ZONE,True,2022-12-08 16:56:14.0000000,M&O MS Forms
2,M-005159,M037,M037-ZN02,12/09/2022 12:00:00 AM,AM,2022,12,Dec,50,Parks,...,8.0,NaN,NaN,2.0,Manhattan,M-12A,ZONE,True,2022-12-13 05:31:36.0000000,M&O MS Forms
3,M-005909,M037,M037-ZN03,03/01/2023 12:00:00 AM,AM,2023,3,Mar,9,Parks,...,4.0,NaN,NaN,33.0,Manhattan,M-12A,ZONE,True,2023-03-01 15:45:44.0000000,M&O MS Forms
4,M-005898,M037,M037-ZN03,02/27/2023 12:00:00 AM,AM,2023,2,Feb,9,Parks,...,8.0,NaN,NaN,33.0,Manhattan,M-12A,ZONE,True,2023-03-01 05:34:33.0000000,M&O MS Forms

In [39]:
df006.shape

(31964, 23)

In [40]:
# Dataset 7
path007 = 'datasets/007. ENDGBV. The Intersection of Domestic Violence, Race, Ethnicity and Sex/ENDGBV__The_Intersection_of_Domestic_Violence__Race_Ethnicity_and_Sex_20240603.csv'
df007 = pd.read_csv(path007)
df007.head()

C:\Users\vanli\AppData\Local\Temp\ipykernel_1676\3220610857.py:3: DtypeWarning: Columns (5,6,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df007 = pd.read_csv(path007)

,Offense Type,Report Date,Incident Precinct Code,Borough Name,Intimate Relationship Flag,Victim Race,Victim Sex,Victim Reported Age,Suspect Race,Suspect Sex,Suspect Reported Age,COMMDIST,Poverty,Median Income,Unemployment
0,FELONY ASSAULT,07/15/2020,52,BRONX,Yes,WHITE HISPANIC,MALE,NaN,NaN,FEMALE,NaN,207.0,1.0,1.0,1.0
1,FELONY ASSAULT,04/17/2020,113,QUEENS,Yes,WHITE HISPANIC,FEMALE,NaN,NaN,MALE,NaN,412.0,NaN,NaN,1.0
2,FELONY ASSAULT,03/19/2020,41,BRONX,No,WHITE HISPANIC,MALE,3.0,BLACK,MALE,NaN,202.0,1.0,1.0,1.0
3,FELONY ASSAULT,04/29/2020,45,BRONX,No,WHITE HISPANIC,MALE,5.0,WHITE,MALE,NaN,210.0,NaN,NaN,NaN
4,FELONY ASSAULT,10/18/2020,47,BRONX,Yes,WHITE HISPANIC,MALE,5.0,BLACK,MALE,NaN,212.0,NaN,NaN,1.0

In [41]:
# Dataset 8
path008 = 'datasets/008. ENDGBV. The Intersection of Domestic Violence, Race, Ethnicity and Sex/ENDGBV__The_Intersection_of_Domestic_Violence__Race_Ethnicity_and_Sex_20240603.csv'
df008 = pd.read_csv(path008)
df008.head()

,Year,Murder_Amer_Ind_Alsk_Nat,Rape_Amer_Ind_Alsk_Nat,SexOffenses_Amer_Ind_Alsk_Nat,FelonyAssault_Amer_Ind_Alsk_Nat,Strangulation_Amer_Ind_Alsk_Nat,Stalking_Amer_Ind_Alsk_Nat,Murder_Asian_Pac_IsI,Rape_Asian_Pac_IsI,SexOffenses_Asian_Pac_IsI,...,SexOffenses_Female,FelonyAssault_Female,Strangulation_Female,Stalking_Female,Murder_Unknown,Rape_Unknown 1,SexOffenses_Unknown 1,FelonyAssault_Unknown 1,Strangulation_Unknown,Stalking_Unknown 1
0,2017,0,1,4,16,18,0,4,27,97,...,1225,3014,4493,248,0,0,30,2,4,0
1,2018,0,5,5,24,19,1,0,41,115,...,1505,3107,4757,195,0,0,22,5,2,0
2,2019,0,1,13,28,27,1,8,61,141,...,1641,3044,4845,203,0,0,26,1,1,0

In [42]:
df008.shape

(3, 55)

In [48]:
# Dataset 9
path009 = 'datasets/009. New York City Domestic Violence Fatality Review Committee Annual Report. 2006 - 2020/ENDGBV_FRC_2021_Annul_Report_Open_Data_Submitted.xlsx'
df009 = pd.read_excel(path009)
df009.head()

,Year,Fam. Hom. Total,Vic.Gender.Child.Female,Vic.Gender.Adult.Female,Vic.Gender.Child.Male,Vic.Gender.Adult.Male,Vic.Age.1,Vic.Age.1.10,Vic.Age.11.17,Vic.Age.18.24,...,SI_CB_2_LES_Unem,SI_CB_2_LES_ Total,SI_CB_2_LES_Level,SI_CB_3_Hom_Total,SI_CB_3_LES_Ed,SI_CB_3_LES_Pov,SI_CB_3_LES_Inc,SI_CB_3_LES_Unem,SI_CB_3_LES_ Total,SI_CB_3_LES_Level
0,2002,76,7,44,9,16,8,8,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,74,11,40,6,17,9,8,0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,67,5,37,7,18,7,5,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,68,4,38,11,15,6,9,2,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006,71,15,32,6,18,5,16,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df009.shape

(19, 512)