# Notes

In [1]:
format?

Signature: format(value, format_spec='', /)
Docstring:
Return value.__format__(format_spec)

format_spec defaults to the empty string.
See the Format Specification Mini-Language section of help('FORMATTING') for
details.
Type:      builtin_function_or_method

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
# Load the data
df = pd.read_csv('https://bit.ly/3cIH97A', delimiter=",")
df

              x           y
0     99.504842  159.464415
1     44.662766   50.508179
2     66.631337   91.677570
3     74.663878  121.276874
4     57.554853   77.660511
..          ...         ...
375  187.856720  314.745930
376   54.705039   74.161177
377  137.863407  222.073346
378  128.667926  226.704162
379  107.317790  161.477933

[380 rows x 2 columns]

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

df = pd.read_csv('https://bit.ly/3QJhJd4')

df

          DATE  AMOUNT                               MEMO       CATEGORY
0   2018-03-13   12.69                 WHOLEFDS HPK 10140        Grocery
1   2018-03-13    4.64                 BIGGBY COFFEE #370         Coffee
2   2018-03-13   14.23                        AMAZON SALE    Electronics
3   2018-03-10    5.40             AMAZON VIDEO ON DEMAND  Entertainment
4   2018-03-12    5.19              STARBUCKS COFFEE #370         Coffee
5   2018-03-10   61.27                 WHOLEFDS PLN 10030        Grocery
6   2018-03-07    2.29           REDBOX VIDEO RENTAL #271  Entertainment
7   2018-03-06   13.99              NETFLIX ON DEMAND #21  Entertainment
8   2018-03-07    2.29                       FAMILY VIDEO  Entertainment
9   2018-03-06   17.21      FROGG COFFEE BAR AND CREPERIE         Coffee
10  2018-03-06   17.92                 OAK CLIFF CREPERIE         Coffee
11  2018-03-06  120.91  HERTZ CAR RENTAL DALLAS LUV FIELD         Travel
12  2018-03-03  113.12       ALAMO CAR RENTAL SAN ANTONIO         Travel
13  2018-03-02    2.29           REDBOX VIDEO RENTAL #270  Entertainment
14  2018-03-07  120.14     ENTERPRISE CAR RENTAL NEW YORK         Travel

In [5]:
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


df = pd.read_csv('https://bit.ly/3QHvclX')

df

     DAYS_SINCE_INSTALL  FLIGHT_HOURS  ENV_TEMPERATURE  REPLACEMENT_NEEDED
0                    93           792              126                   1
1                    11           107              113                   1
2                    23           152              110                   1
3                    32           375              110                   1
4                   141           701              110                   1
..                  ...           ...              ...                 ...
439                  57           448               22                   0
440                 155           650               21                   0
441                 176          1697               17                   1
442                  33           188               12                   0
443                  32           474                7                   0

[444 rows x 4 columns]

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix

df = pd.read_csv('https://bit.ly/3wlFsb4')

df

     DAYS_SINCE_INSTALL  FLIGHT_HOURS  ENV_TEMPERATURE  REPLACEMENT_NEEDED
0                    93           792              126                   1
1                    11           107              113                   1
2                    23           152              110                   1
3                    32           375              110                   1
4                   141           701              110                   1
..                  ...           ...              ...                 ...
439                  57           448               22                   0
440                 155           650               21                   0
441                 176          1697               17                   1
442                  33           188               12                   0
443                  32           474                7                   0

[444 rows x 4 columns]