# <b>Kaggle Learn</b>
# 1. Intro to Programming

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress = True)
from pandas import Series, DataFrame
%matplotlib inline

## 1. Arithmetic and Variables

In [2]:
print("Hello, world!")

Hello, world!

In [3]:
print(1 + 2)

3

In [4]:
print(9 - 5)

4

In [5]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [7]:
7 + (6 * 5 ** 2 + 3)

160

In [10]:
# Multiply 3 by 2
print(3 * 2)

6

In [11]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [12]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [13]:
print(my_var)
print(test_var)

100
9

In [14]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [15]:
# Create variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [16]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

## 2. Functions

In [17]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [18]:
new_number = add_three(10)
print(new_number)

13

In [19]:
def salary_calc(hours_worked):
    gross_salary = hours_worked * 15
    tax = 12
    net_salary = gross_salary * (1 - tax/100)
    return net_salary

In [20]:
salary_calc(40)

528.0

In [21]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - 0.12)
    return pay_aftertax

In [24]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [24]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [25]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [26]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, 0.22)
print(higher_pay_aftertax)

748.8000000000001

In [27]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, 0.12)
print(same_pay_fulltime)

528.0

In [28]:
def get_pay_with_more_inputs_impr(num_hours, hourly_wage = 15, tax_bracket = 0.12):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [29]:
get_pay_with_more_inputs_impr(40)

528.0

In [30]:
get_pay_with_more_inputs_impr(40, 24)

844.8

In [32]:
get_pay_with_more_inputs_impr(40, 24, 0.08)

883.2

In [35]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")

# Call the function
print_hello()

Hello, you!
Good morning!

In [43]:
import math

In [44]:
math.ceil((432+144)/400)

2

## 3. Data Types

In [45]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [46]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [47]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [48]:
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [49]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [52]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [52]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [54]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [54]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [56]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [57]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [58]:
print(len(w))

14

In [59]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [60]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [61]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [62]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [63]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [64]:
print("abc" * False)

## 1.4 Conditions and Conditional Statements

In [65]:
print(2 > 3)

False

In [66]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [67]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [69]:
print(evaluate_temp(37))

Normal temperature.

In [71]:
print(evaluate_temp(37.9))

Normal temperature.

In [71]:
print(evaluate_temp(37.9))

Normal temperature.

In [72]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [73]:
print(evaluate_temp_with_else(37))

Normal temperature.

In [74]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [75]:
print(evaluate_temp_with_elif(36))

Normal temperature.

In [76]:
print(evaluate_temp_with_elif(34))

Low temperature.

In [77]:
def get_taxes(earnings):
    if earnings < 12_000:
        tax_owed = 0.25 * earnings
    else:
        tax_owed = 0.30 * earnings
    return tax_owed

In [78]:
ana_taxes = get_taxes(9_000)
bob_taxes = get_taxes(15_000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [79]:
def add_three_or_eight(num):
    if num < 10:
        result = num + 3
    else:
        result = num + 8
    return result

In [80]:
def add_three_or_eight(number):
    if number < 10:
        result = number + 3
    else:
        result = number + 8
    return result

In [82]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [83]:
print(get_dose(12))

5

## 5. Intro to Lists