<h1>Notes (parts 2.3–...)</h1>

<h2>2.3 Dictionaries</h2>

In [1]:
emp_age = {
    'John': 29,
    'Alex': 35,
    'George': 45,
    'Bert': 61,
    'Tom': 25
}

emp_age

{'John': 29, 'Alex': 35, 'George': 45, 'Bert': 61, 'Tom': 25}

In [2]:
ex_numbers = {
    1: 11,
    2: 22,
    3: 33
}

ex_numbers

{1: 11, 2: 22, 3: 33}

In [3]:
ex_letters = {
    1: 'A',
    2: 'B',
    3: 'C'
}

ex_letters

{1: 'A', 2: 'B', 3: 'C'}

In [4]:
rus2eng = dict()

print(rus2eng)

{}

In [5]:
rus2eng['привет'] = 'hello'

In [6]:
print(rus2eng['привет'])

hello

In [7]:
rus2eng

{'привет': 'hello'}

In [8]:
ruswords = ['привет', 'как дела?', 'как тебя зовут?', 'сколько тебе лет?']
engwords = ['hello', 'how are you?', 'what is your name?', 'how old are you?']

ruseng = dict()

In [9]:
ruseng[ruswords[0]] = engwords[0]

In [10]:
ruseng

{'привет': 'hello'}

In [11]:
for rus, eng in zip(ruswords, engwords):
    ruseng[rus] = eng
    
print(ruseng)

{'привет': 'hello', 'как дела?': 'how are you?', 'как тебя зовут?': 'what is your name?', 'сколько тебе лет?': 'how old are you?'}

In [12]:
print(ruseng['как тебя зовут?'])

what is your name?

In [13]:
eng2 = [
    'people',
    'family',
    'woman',
    'man',
    'girl',
    'boy',
    'child',
    'friend',
    'husband',
    'wife',
    'name',
    'head',
    'face',
    'hand'
]

rus2 = [
    'люди',
    'семья',
    'женщина',
    'мужчина',
    'девочка',
    'мальчик',
    'ребёнок',
    'друг',
    'муж',
    'жена',
    'имя',
    'голова',
    'лицо',
    'рука'
]

engrus2 = {}

In [14]:
for eng, rus in zip(eng2, rus2):
    engrus2[eng] = rus

print(engrus2)

{'people': 'люди', 'family': 'семья', 'woman': 'женщина', 'man': 'мужчина', 'girl': 'девочка', 'boy': 'мальчик', 'child': 'ребёнок', 'friend': 'друг', 'husband': 'муж', 'wife': 'жена', 'name': 'имя', 'head': 'голова', 'face': 'лицо', 'hand': 'рука'}

In [15]:
print(engrus2['family'])

семья

In [16]:
words = ['list', 'dictionary', 'function']

for word in words:
    print(f'{word.upper()}: a')

LIST: a
DICTIONARY: a
FUNCTION: a

In [17]:
words2 = {'list': 'a', 'dictionary': 'b', 'function': 'c'}

for word in words2:
    print(f'{word.upper()}: {words2[word]}')

LIST: a
DICTIONARY: b
FUNCTION: c

In [18]:
emp_age = {
    'James': 29,
    'Ron': 45,
    'John': 35,
    'Tom': 34,
    'Alex': 23
}

for i, emp in enumerate(emp_age):
    print(f'{i+1}. {emp.upper()} is {emp_age[emp]} years old\n')

1. JAMES is 29 years old

2. RON is 45 years old

3. JOHN is 35 years old

4. TOM is 34 years old

5. ALEX is 23 years old

In [19]:
for i, emp in enumerate(emp_age):
    print(f'Employee {i+1} is {emp}.')
    if emp == 'Tom':
        print(f"\tTom's age is {emp_age[emp]}")

Employee 1 is James.
Employee 2 is Ron.
Employee 3 is John.
Employee 4 is Tom.
	Tom's age is 34
Employee 5 is Alex.

In [20]:
for i, emp in enumerate(emp_age):
    print(f'Employee {i+1} is {emp}.')
    print(f'\t(age {emp_age[emp]})\n')

Employee 1 is James.
	(age 29)

Employee 2 is Ron.
	(age 45)

Employee 3 is John.
	(age 35)

Employee 4 is Tom.
	(age 34)

Employee 5 is Alex.
	(age 23)

In [21]:
for age in emp_age.values():
    print(age)

29
45
35
34
23

In [22]:
emp_age.values()

dict_values([29, 45, 35, 34, 23])

In [23]:
import statistics

emp_age = {
    'James': 29,
    'Ron': 45,
    'John': 35,
    'Tom': 34,
    'Alex': 23
}

av_age = statistics.mean(emp_age.values())
av_age

33.2

In [24]:
list = [29, 32, 45, 42, 42]
av_list_age = statistics.mean(list)
av_list_age

38

In [25]:
emp_age

{'James': 29, 'Ron': 45, 'John': 35, 'Tom': 34, 'Alex': 23}

In [26]:
emp_age['Walter'] = 43
emp_age['Louis'] = 58

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 43,
 'Louis': 58}

In [27]:
emp_age['Walter'] = 53

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [28]:
emp_age['Walterius'] = emp_age['Walter']

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58,
 'Walterius': 53}

In [29]:
python_words = {
    'list': 'A collection of values that are not connected, but have an order.',
    'dictionary': 'A collection of key-value pairs.',
    'function': 'A named set of instructions that defines a set of actions in Python.',
}

python_words

{'list': 'A collection of values that are not connected, but have an order.',
 'dictionary': 'A collection of key-value pairs.',
 'function': 'A named set of instructions that defines a set of actions in Python.'}

In [30]:
name = 'John'
age = 30

greeting = 'Hello, my name is ' + name + ' and I am ' + str(age) + ' years old.'
print(greeting)

Hello, my name is John and I am 30 years old.

In [31]:
name = 'John'
age = 30

greeting = f'Hello, my name is {name} and I am {age} years old.'
print(greeting)

Hello, my name is John and I am 30 years old.

In [32]:
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58,
 'Walterius': 53}

In [33]:
walterius = emp_age.pop('Walterius')
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [34]:
walterius

53

In [35]:
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [36]:
louis = emp_age.popitem()
emp_age

{'James': 29, 'Ron': 45, 'John': 35, 'Tom': 34, 'Alex': 23, 'Walter': 53}

In [37]:
louis

('Louis', 58)

In [38]:
student_scores = {
    'Tom': [9, 9.5, 8.5, 9],
    'Alex': [6, 5.5, 6.3, 7],
    'Alice': [7, 7.3, 8, 6.1],
    'John': [5.5, 7, 9, 5.7],
}

student_scores

{'Tom': [9, 9.5, 8.5, 9],
 'Alex': [6, 5.5, 6.3, 7],
 'Alice': [7, 7.3, 8, 6.1],
 'John': [5.5, 7, 9, 5.7]}

In [39]:
for student in student_scores:
    print("\n%s's score is:" % student.title())
    latest_student_scores = student_scores[student]
    for student_score in latest_student_scores:
        print(student_score)

Tom's score is:
9
9.5
8.5
9

Alex's score is:
6
5.5
6.3
7

Alice's score is:
7
7.3
8
6.1

John's score is:
5.5
7
9
5.7

In [40]:
for student in student_scores:
    print(f"\n{student.title()}'s score is:")
    latest_student_scores = student_scores[student]
    for student_score in latest_student_scores:
        print(student_score)

Tom's score is:
9
9.5
8.5
9

Alex's score is:
6
5.5
6.3
7

Alice's score is:
7
7.3
8
6.1

John's score is:
5.5
7
9
5.7

In [41]:
student_scores['Tom']

[9, 9.5, 8.5, 9]

In [42]:
writers_list = {
    'Пушкин А. С.': ['Капитанская дочка', 'Борис Годунов', 'Евгений Онегин', 'Маленькие трагедии'],
    'Лермонтов М. Ю.': ['Герой нашего времени', 'Мцыри', 'Бородино'],
    'Тургенев И. С.': ['Отцы и дети', 'Муму', 'Ася', 'Записки охотника'],
    'Чехов А. П.': ['Вишнёвый сад', 'Чайка', 'Дядя Ваня'],
}

writers_list

{'Пушкин А. С.': ['Капитанская дочка',
  'Борис Годунов',
  'Евгений Онегин',
  'Маленькие трагедии'],
 'Лермонтов М. Ю.': ['Герой нашего времени', 'Мцыри', 'Бородино'],
 'Тургенев И. С.': ['Отцы и дети', 'Муму', 'Ася', 'Записки охотника'],
 'Чехов А. П.': ['Вишнёвый сад', 'Чайка', 'Дядя Ваня']}

In [43]:
for writer in writers_list:
    print(f'\n{writer} написал:')
    
    per_writer = writers_list[writer]
    
    for book in per_writer:
        print(f' - {book}')

Пушкин А. С. написал:
 - Капитанская дочка
 - Борис Годунов
 - Евгений Онегин
 - Маленькие трагедии

Лермонтов М. Ю. написал:
 - Герой нашего времени
 - Мцыри
 - Бородино

Тургенев И. С. написал:
 - Отцы и дети
 - Муму
 - Ася
 - Записки охотника

Чехов А. П. написал:
 - Вишнёвый сад
 - Чайка
 - Дядя Ваня

In [44]:
for writer in writers_list:
    print('\n%s написал:' % writer.title())
    
    books_writers_list = writers_list[writer]
    
    for book in books_writers_list:
        print(f' - {book}')

Пушкин А. С. написал:
 - Капитанская дочка
 - Борис Годунов
 - Евгений Онегин
 - Маленькие трагедии

Лермонтов М. Ю. написал:
 - Герой нашего времени
 - Мцыри
 - Бородино

Тургенев И. С. написал:
 - Отцы и дети
 - Муму
 - Ася
 - Записки охотника

Чехов А. П. написал:
 - Вишнёвый сад
 - Чайка
 - Дядя Ваня

In [45]:
def create_matrix_list(n, m):
    # create a list of n lists, each of length m filled with 0's
    matrix = [[0 for j in range(m)] for i in range(n)]
    return matrix

In [46]:
def create_matrix_dict(n, m):
    # create a dictionary of dictionaries, with each element initialized to 0
    matrix = {(i,j): 0 for i in range(n) for j in range(m)}
    return matrix

In [47]:
# create a 3-by-4 matrix using lists
matrix_list = create_matrix_list(3, 4)
print(matrix_list)

# create a 3-by-4 matrix using dictionaries
matrix_dict = create_matrix_dict(3, 4)
print(matrix_dict)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
{(0, 0): 0, (0, 1): 0, (0, 2): 0, (0, 3): 0, (1, 0): 0, (1, 1): 0, (1, 2): 0, (1, 3): 0, (2, 0): 0, (2, 1): 0, (2, 2): 0, (2, 3): 0}

In [48]:
def create_sparse_matrix_lists(N, M):
    """
    Creates a sparse matrix using lists.

    Args:
    - N (int): number of rows
    - M (int): number of columns

    Returns:
    - matrix (list of lists): the sparse matrix
    """
    matrix = []
    for i in range(N):
        row = []
        for j in range(M):
            row.append(None)
        matrix.append(row)
    return matrix

In [49]:
def create_sparse_matrix_dict(N, M):
    """
    Creates a sparse matrix using dictionaries.

    Args:
    - N (int): number of rows
    - M (int): number of columns

    Returns:
    - matrix (dictionary of dictionaries): the sparse matrix
    """
    matrix = {}
    for i in range(N):
        matrix[i] = {}
        for j in range(M):
            matrix[i][j] = None
    return matrix

In [50]:
create_sparse_matrix_lists(4, 5)

[[None, None, None, None, None],
 [None, None, None, None, None],
 [None, None, None, None, None],
 [None, None, None, None, None]]

In [51]:
create_sparse_matrix_dict(4, 5)

{0: {0: None, 1: None, 2: None, 3: None, 4: None},
 1: {0: None, 1: None, 2: None, 3: None, 4: None},
 2: {0: None, 1: None, 2: None, 3: None, 4: None},
 3: {0: None, 1: None, 2: None, 3: None, 4: None}}

In [52]:
def countdown(n): 
    if n <= 0:
        print('Blastoff!')
    else:
        print(n)
        countdown(n-1)

In [53]:
countdown(2)

2
1
Blastoff!

In [54]:
countdown(-1)

Blastoff!

In [55]:
countdown(0)

Blastoff!

In [56]:
def fibonacci (n): 
    if n == 0:
        return 0 
    elif n == 1:
        return 1 
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [57]:
fibonacci(2)

1

In [58]:
fibonacci(5)

5

In [59]:
fibonacci(10)

55

In [60]:
def fibonacci(n, memo={}):
    if n in memo:
        return memo[n]
    elif n == 0:
        memo[0] = 0
        return 0
    elif n == 1:
        memo[1] = 1
        return 1
    else:
        result = fibonacci(n-1, memo) + fibonacci(n-2, memo)
        memo[n] = result
        return result

<h2>2.4 Iterables, iterators and generators</h2>

In [61]:
['a', 'b', 'c']

['a', 'b', 'c']

In [63]:
' '.join(['a', 'b', 'c'])

'a b c'

In [65]:
for thing in '123':
    print(thing)

1
2
3

In [66]:
# Print all even numbers between 0 and 10 using range() with step of 2
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [6]:
range2 = range(0, 21, 3)
range2

range(0, 21, 3)

In [13]:
for i, number in enumerate(range2):
    print(f'{i+1}. {number}')

1. 0
2. 3
3. 6
4. 9
5. 12
6. 15
7. 18

In [14]:
e = enumerate('hello')
for pair in e:
    print(pair)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [19]:
e2 = enumerate('word')
e2.__next__()

(0, 'w')

In [20]:
e2.__next__()

(1, 'o')

In [21]:
next(e2)

(2, 'r')

In [22]:
e3 = enumerate('text')
next(e3)

(0, 't')

In [23]:
numbers = [1, 2, 3, 4, 5]
it = iter(numbers)
for num in it:
    print(num)

1
2
3
4
5

In [25]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [1]:
2 ** 2

4

In [2]:
4 ** 4

256

In [3]:
4 * 4 * 4 * 4

256

In [4]:
2 ** 3

8

In [11]:
list = []

for number in range(1, 11):
    list.append((number + 1.3) * 4.1)
    
for number in list:
    print(number)

9.429999999999998
13.529999999999998
17.63
21.729999999999997
25.83
29.929999999999996
34.03
38.13
42.23
46.33

In [7]:
division = []

for number in range(1000, 1021, 1):
    division.append(number / 2)
    
for number in division:
    print(number)

500.0
500.5
501.0
501.5
502.0
502.5
503.0
503.5
504.0
504.5
505.0
505.5
506.0
506.5
507.0
507.5
508.0
508.5
509.0
509.5
510.0

In [12]:
list = [(number + 1.3) * 4.1 for number in range(1, 11)]

for number in list:
    print(number)

9.429999999999998
13.529999999999998
17.63
21.729999999999997
25.83
29.929999999999996
34.03
38.13
42.23
46.33

In [14]:
a = range(5)
a

range(0, 5)

In [15]:
for number in a:
    print(number)

0
1
2
3
4

In [32]:
upgraded_a = [x + 1 for x in range(5) if x % 2 == 2]

upgraded_a

[]

In [20]:
upgraded_b = [i ** 3 for i in [1, 2, 3, 4] if i > 2]
upgraded_b

[27, 64]

In [31]:
upgraded_c = []

for i in range(1, 5, 1):
    if i > 2:
        upgraded_c.append(i ** 3)
        
# for i in upgraded_c:
#     print(i)

upgraded_c

[27, 64]

In [36]:
test_list = [(number / 9.2) -100 for number in range (1020, 1212, 20)]

for number in test_list:
    print(number)

10.869565217391312
13.043478260869577
15.217391304347828
17.391304347826093
19.56521739130436
21.739130434782624
23.913043478260875
26.08695652173914
28.260869565217405
30.434782608695656

In [39]:
test_list_2 = [(number ** 3) / 87 for number in range(65, 80, 3)]

for i in test_list_2:
    print(i)

3156.609195402299
3614.1609195402298
4113.919540229885
4657.747126436781
5247.505747126437

In [48]:
test_list_3 = [((i ** 10) / 12932) + 2981 for i in range(29233, 379212, 102382)]

for i, number in enumerate(test_list_3):
    print(f'Number {i+1} is {number}\n')

Number 1 is 3.5242618588039794e+40

Number 2 is 1.206113518329091e+47

Number 3 is 3.805723211182389e+49

Number 4 is 1.4342440456446928e+51

In [50]:
squares = [i ** 2 for i in range(1, 11)]

for i in squares:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [59]:
test_list_3 = [((i ** 10) / 12932) + 2981 for i in range(29233, 379212, 102382)]

for i, number in enumerate(test_list_3):
    print(f'Number {i+1} is {number}\n')

Number 1 is 3.5242618588039794e+40

Number 2 is 1.206113518329091e+47

Number 3 is 3.805723211182389e+49

Number 4 is 1.4342440456446928e+51

In [55]:
test_list_2 = [round((number ** 3) / 87, 1) for number in range(65, 80, 3)]

for i in test_list_2:
    print(i)

3156.6
3614.2
4113.9
4657.7
5247.5

In [62]:
squares = [number ** 2 for number in range(1, 11)]

for number in squares:
    print(number)

1
4
9
16
25
36
49
64
81
100

In [63]:
evens = []

for number in range(1, 11):
    evens.append(number *2)
    
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
evens_short = [number * 2 for number in range (1, 11)]
evens_short

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
country_map = {'IT': 'Italy', 'UK': 'United Kingdom', 'DE': 'Germany', 'DK': 'Denmark', 'FR': 'France'}

In [73]:
country_map_2 = [(code, country) for code, country in country_map.items()]

for code, country in country_map_2:
    print('Code:', code)
    print('Country:', country, '\n')

Code: IT
Country: Italy

Code: UK
Country: United Kingdom

Code: DE
Country: Germany

Code: DK
Country: Denmark

Code: FR
Country: France

In [83]:
country_map_2 = [(code, country) for code, country in country_map.items()]

for code, country in country_map_2:
    if code == 'UK':
        print(f'{code} means Brexit!\n')
    else:
        print(f'{code} is {country}.\n')

IT is Italy.

UK means Brexit!

DE is Germany.

DK is Denmark.

FR is France.

In [88]:
symbols = 'DFGHoihuvgcf'

tuple(ord(i) for i in symbols)

(68, 70, 71, 72, 111, 105, 104, 117, 118, 103, 99, 102)