<h1>Notes (parts 2.3–...)</h1>

<h2>2.3 Dictionaries</h2>

In [1]:
emp_age = {
    'John': 29,
    'Alex': 35,
    'George': 45,
    'Bert': 61,
    'Tom': 25
}

emp_age

{'John': 29, 'Alex': 35, 'George': 45, 'Bert': 61, 'Tom': 25}

In [2]:
ex_numbers = {
    1: 11,
    2: 22,
    3: 33
}

ex_numbers

{1: 11, 2: 22, 3: 33}

In [3]:
ex_letters = {
    1: 'A',
    2: 'B',
    3: 'C'
}

ex_letters

{1: 'A', 2: 'B', 3: 'C'}

In [4]:
rus2eng = dict()

print(rus2eng)

{}

In [5]:
rus2eng['привет'] = 'hello'

In [6]:
print(rus2eng['привет'])

hello

In [7]:
rus2eng

{'привет': 'hello'}

In [8]:
ruswords = ['привет', 'как дела?', 'как тебя зовут?', 'сколько тебе лет?']
engwords = ['hello', 'how are you?', 'what is your name?', 'how old are you?']

ruseng = dict()

In [9]:
ruseng[ruswords[0]] = engwords[0]

In [10]:
ruseng

{'привет': 'hello'}

In [11]:
for rus, eng in zip(ruswords, engwords):
    ruseng[rus] = eng
    
print(ruseng)

{'привет': 'hello', 'как дела?': 'how are you?', 'как тебя зовут?': 'what is your name?', 'сколько тебе лет?': 'how old are you?'}

In [12]:
print(ruseng['как тебя зовут?'])

what is your name?

In [13]:
eng2 = [
    'people',
    'family',
    'woman',
    'man',
    'girl',
    'boy',
    'child',
    'friend',
    'husband',
    'wife',
    'name',
    'head',
    'face',
    'hand'
]

rus2 = [
    'люди',
    'семья',
    'женщина',
    'мужчина',
    'девочка',
    'мальчик',
    'ребёнок',
    'друг',
    'муж',
    'жена',
    'имя',
    'голова',
    'лицо',
    'рука'
]

engrus2 = {}

In [14]:
for eng, rus in zip(eng2, rus2):
    engrus2[eng] = rus

print(engrus2)

{'people': 'люди', 'family': 'семья', 'woman': 'женщина', 'man': 'мужчина', 'girl': 'девочка', 'boy': 'мальчик', 'child': 'ребёнок', 'friend': 'друг', 'husband': 'муж', 'wife': 'жена', 'name': 'имя', 'head': 'голова', 'face': 'лицо', 'hand': 'рука'}

In [15]:
print(engrus2['family'])

семья

In [16]:
words = ['list', 'dictionary', 'function']

for word in words:
    print(f'{word.upper()}: a')

LIST: a
DICTIONARY: a
FUNCTION: a

In [17]:
words2 = {'list': 'a', 'dictionary': 'b', 'function': 'c'}

for word in words2:
    print(f'{word.upper()}: {words2[word]}')

LIST: a
DICTIONARY: b
FUNCTION: c

In [18]:
emp_age = {
    'James': 29,
    'Ron': 45,
    'John': 35,
    'Tom': 34,
    'Alex': 23
}

for i, emp in enumerate(emp_age):
    print(f'{i+1}. {emp.upper()} is {emp_age[emp]} years old\n')

1. JAMES is 29 years old

2. RON is 45 years old

3. JOHN is 35 years old

4. TOM is 34 years old

5. ALEX is 23 years old

In [19]:
for i, emp in enumerate(emp_age):
    print(f'Employee {i+1} is {emp}.')
    if emp == 'Tom':
        print(f"\tTom's age is {emp_age[emp]}")

Employee 1 is James.
Employee 2 is Ron.
Employee 3 is John.
Employee 4 is Tom.
	Tom's age is 34
Employee 5 is Alex.

In [20]:
for i, emp in enumerate(emp_age):
    print(f'Employee {i+1} is {emp}.')
    print(f'\t(age {emp_age[emp]})\n')

Employee 1 is James.
	(age 29)

Employee 2 is Ron.
	(age 45)

Employee 3 is John.
	(age 35)

Employee 4 is Tom.
	(age 34)

Employee 5 is Alex.
	(age 23)

In [22]:
for age in emp_age.values():
    print(age)

29
45
35
34
23

In [23]:
emp_age.values()

dict_values([29, 45, 35, 34, 23])

In [28]:
import statistics

emp_age = {
    'James': 29,
    'Ron': 45,
    'John': 35,
    'Tom': 34,
    'Alex': 23
}

av_age = statistics.mean(emp_age.values())
av_age

33.2

In [30]:
list = [29, 32, 45, 42, 42]
av_list_age = statistics.mean(list)
av_list_age

38

In [31]:
emp_age

{'James': 29, 'Ron': 45, 'John': 35, 'Tom': 34, 'Alex': 23}

In [32]:
emp_age['Walter'] = 43
emp_age['Louis'] = 58

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 43,
 'Louis': 58}

In [33]:
emp_age['Walter'] = 53

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [38]:
emp_age['Walterius'] = emp_age['Walter']

emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58,
 'Walterius': 53}

In [39]:
python_words = {
    'list': 'A collection of values that are not connected, but have an order.',
    'dictionary': 'A collection of key-value pairs.',
    'function': 'A named set of instructions that defines a set of actions in Python.',
}

python_words

{'list': 'A collection of values that are not connected, but have an order.',
 'dictionary': 'A collection of key-value pairs.',
 'function': 'A named set of instructions that defines a set of actions in Python.'}

In [43]:
name = 'John'
age = 30

greeting = 'Hello, my name is ' + name + ' and I am ' + str(age) + ' years old.'
print(greeting)

Hello, my name is John and I am 30 years old.

In [41]:
name = 'John'
age = 30

greeting = f'Hello, my name is {name} and I am {age} years old.'
print(greeting)

Hello, my name is John and I am 30 years old.

In [44]:
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58,
 'Walterius': 53}

In [45]:
walterius = emp_age.pop('Walterius')
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [46]:
walterius

53

In [47]:
emp_age

{'James': 29,
 'Ron': 45,
 'John': 35,
 'Tom': 34,
 'Alex': 23,
 'Walter': 53,
 'Louis': 58}

In [48]:
louis = emp_age.popitem()
emp_age

{'James': 29, 'Ron': 45, 'John': 35, 'Tom': 34, 'Alex': 23, 'Walter': 53}

In [49]:
louis

('Louis', 58)

In [51]:
student_scores = {
    'Tom': [9, 9.5, 8.5, 9],
    'Alex': [6, 5.5, 6.3, 7],
    'Alice': [7, 7.3, 8, 6.1],
    'John': [5.5, 7, 9, 5.7],
}

student_scores

{'Tom': [9, 9.5, 8.5, 9],
 'Alex': [6, 5.5, 6.3, 7],
 'Alice': [7, 7.3, 8, 6.1],
 'John': [5.5, 7, 9, 5.7]}