<h1>Notes (parts 3.1â€“...)</h1>

<h2>3.1 Classes</h2>

In [9]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def say_hello(self):
        print(f"Hello, my name is {self.name}.")

person = Person("John")
person.say_hello() # Output: "Hello, my name is John."

Hello, my name is John.

In [12]:
# We define a class called 'Person':
class Person:
    # This class has two methods: '__init__' and 'say_hello'.
    # The first method '__init__' is called when an instance of a class is created:
    def __init__(self, name): # It takes the 'name' parameter
        self.name = name # and initializes the 'name' attribute of the class with that value
    
    #The second method 'say_hello':
    def say_hello(self):
        print(f"Hello, my name is {self.name}.") # it simply prints a message to the console using 
                                                 # the 'name' attribute of the class

# We then create an instance of the class called 'person'
person = Person("John")

# and call the 'say_hello' method on it
person.say_hello() # Output: "Hello, my name is John."

Hello, my name is John.

In [11]:
person2 = Person('Alex')
person2.say_hello()

Hello, my name is Alex.

In [14]:
print(person.name)
print(person2.name)

John
Alex

In [17]:
for number in range(0, 5):
    print(number)

0
1
2
3
4

In [1]:
class Rocket:
    def __init__(self):
        self.x = 0
        self.y = 0

In [2]:
class Rocket:

    def __init__(self):
        self.x = 0
        self.y = 0
        
    def move_up(self):
        self.y += 1 # equivalent to self.y = self.y + 1

In [3]:
my_rocket = Rocket()

In [5]:
class MyClass:
    pass

In [6]:
MyClass

__main__.MyClass

In [10]:
class Rocket:
    """ 
    Rocket simulates a rocket ship for a game, or a physics simulation.
    """
    def __init__(self):
        # Each rocket has an (x,y) position.
        self.x = 0
        self.y = 0
        
    def move_up(self):
        # Increment the y-position of the rocket.
        self.y += 1

In [13]:
class Rocket:
    # Rocket simulates a rocket ship for a game,
    #  or a physics simulation.
    
    def __init__(self):
        # Each rocket has an (x,y) position.
        self.x = 0
        self.y = 0
        
    def move_up(self):
        # Increment the y-position of the rocket.
        self.y += 1 # equivalent to self.y = self.y + 1

In [21]:
class Rocket:
    
    def __init__(self):
        self.x = 0
        self.y = 0
        
    def move_up(self):
        self.y += 1

In [22]:
object = Rocket()

In [23]:
print(f'Original y-value: {object.y}')

Original y-value: 0

In [24]:
object.move_up()

print(f"y-value after applying 'move_up': {object.y}")

y-value after applying 'move_up': 1

In [25]:
class Rocket:
    
    def __init__(self):
        self.x = 0
        self.y = 0
        
    def move_up(self):
        self.y += 1

In [26]:
object2 = Rocket()

In [27]:
print(f'Original y-value: {object2.y}')

Original y-value: 0

In [28]:
object2.move_up()

print(f"y-value after applying 'move_up': {object2.y}")

y-value after applying 'move_up': 1

In [29]:
class Rocket:
    # Rocket simulates a rocket shop for a game,
    # or a physics simulation.
    
    def __init__(self, x = 0, y = 0):
        # Each rocket has an (x, y) position.
        self.x = x
        self.y = y
        
    def move_up(self):
        # Increment the y-position of the rocket.
        self.y += 1

In [31]:
object = Rocket()

In [32]:
object.x

0

In [33]:
object.y

0

In [34]:
object2 = Rocket(1, 3)

In [37]:
object2.x

1

In [38]:
object2.y

3

In [39]:
object2.move_up()
object2.y

4

In [40]:
rockets = []
rockets.append(Rocket())
rockets.append(Rocket(0, 10))
rockets.append(Rocket(100, 0))

In [44]:
class Rocket:
    # Rocket simulates a rocket ship for a game,
    # or a physics simulation.
    
    def __init__(self, x = 0, y = 0):
        # Each rocket has an (x, y) position.
        self.x = x
        self.y = y
        
    def move_rocket(self, x_increment = 0, y_increment = 1):
        # Move the rocket according to the parementers given.
        # Default behavior is to move the rocket up one unit.
        self.x += x_increment
        self.y += y_increment

In [46]:
first_rocket = Rocket(8, 4)

In [48]:
print(first_rocket.x)
print(first_rocket.y)

8
4

In [49]:
first_rocket.move_rocket(10, 15)

In [50]:
print(first_rocket.x)
print(first_rocket.y)

18
19

In [15]:
from math import sqrt

class Rocket:
    
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
        
    def move_rocket(self, x_increment = 0, y_increment = 1):
        self.x += x_increment
        self.y += y_increment
        
    def get_distance(self, other_rocket):
        distance = sqrt(((self.x - other_rocket.x) ** 2) + ((self.y - other_rocket.y) ** 2))
        return distance

In [2]:
object1 = Rocket()

In [3]:
print(object1.x)
print(object1.y)

0
0

In [4]:
object2 = Rocket(10, 53)

In [5]:
print(object2.x)
print(object2.y)

10
53

In [6]:
object1.move_rocket()

In [7]:
print(object1.x)
print(object1.y)

0
1

In [8]:
object2.move_rocket(5, 0)

In [9]:
print(object2.x)
print(object2.y)

15
53

In [10]:
object2.move_rocket(-10, -28)

In [11]:
print(object2.x)
print(object2.y)

5
25

In [14]:
object1.get_distance(object2)

24.515301344262525

In [16]:
object3 = Rocket(372, 7849)
object4 = Rocket(68, 37)

In [17]:
object3.move_rocket(-298, 87)
object4.move_rocket(3198, -289)

In [18]:
object3.get_distance(object4)

8788.185705821197

In [20]:
from math import sqrt

class Rocket:
    
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
        
    def move_rocket(self, change_x = 0, change_y = 1):
        self.x += change_x
        self.y += change_y
        
    def get_distance(self, second_rocket):
        distance = sqrt((self.x - second_rocket.x) ** 2 + (self.y - other_rocket.y) ** 2)
        return distance

In [57]:
from math import sqrt

class Rocket:
    
    def __init__(self, 
                 x = 0, 
                 y = 0, 
                 h = 100, 
                 c = 10, 
                 n = 'rocket', 
                 s = 1000):
        self.x = x
        self.y = y
        self.h = h
        self.c = c
        self.n = n
        self.s = s
        
    def move_rocket(self, 
                    change_x = 0, 
                    change_y = 1, 
                    change_h = 0, 
                    change_c = 0, 
                    change_n = '', 
                    change_s = 0):
        self.x += change_x
        self.y += change_y
        self.h = change_h
        self.c = change_c
        self.n = change_n
        self.s = change_s
        
    def get_distance(self, second_rocket):
        distance = sqrt((self.x - second_rocket.x) ** 2 + (self.y - other_rocket.y) ** 2)
        return distance

In [58]:
rocket1 = Rocket()
rocket2 = Rocket(1203, 893, 120, 6, 'rocket 2', 1212)

In [59]:
print(
    f"""1. {rocket1.x} 
2. {rocket1.y} 
3. {rocket1.h} 
4. {rocket1.c} 
5. {rocket1.n} 
6. {rocket1.s}"""
)

print('\n')

print(
    f"""1. {rocket2.x} 
2. {rocket2.y} 
3. {rocket2.h} 
4. {rocket2.c} 
5. {rocket2.n} 
6. {rocket2.s}"""
)

1. 0
2. 0
3. 100
4. 10
5. rocket
6. 1000


1. 1203
2. 893
3. 120
4. 6
5. rocket 2
6. 1212

In [60]:
rocket1.move_rocket()
rocket2.move_rocket(132, 87, 2, 1, 'rocket 2.1', 1213)

In [61]:
print(
    f"""1. {rocket1.x} 
2. {rocket1.y} 
3. {rocket1.h} 
4. {rocket1.c} 
5. {rocket1.n} 
6. {rocket1.s}"""
)

print('\n')

print(
    f"""1. {rocket2.x} 
2. {rocket2.y} 
3. {rocket2.h} 
4. {rocket2.c} 
5. {rocket2.n} 
6. {rocket2.s}"""
)

1. 0
2. 1
3. 0
4. 0
5.
6. 0


1. 1335
2. 980
3. 2
4. 1
5. rocket 2.1
6. 1213

In [3]:
class Person:
    
    def __init__(self, name, age, birthplace, city, function):
        self.name = name
        self.age = age
        self.birthplace = birthplace
        self.city = city
        self.function = function
    
    def introduce_yourself(self):
        print(f'Hello, my name is {self.name}. I am {self.age} years old. '
              f'I was born in {self.birthplace} and live now in {self.city}. '
              f'My function is {self.function}.')
        
    def age_person(self, incr_age = 1):
        self.age += incr_age
        print(f'{self.name} is now {self.age} years old.')

In [73]:
person1 = Person('Alex', 29, 'Rome', 'Naples', 'Accountant')

In [74]:
person1.introduce_yourself()

Hello, my name is Alex. I am 29 years old. I was born in Rome and live now in Naples. My function is Accountant.

In [75]:
person1.age_person()

Alex is now 30 years old.

In [79]:
person2 = Person('John', 35, 'Tokyo', 'Kyoto', 'Senior Manager')
person2.introduce_yourself()
print('\n')
person2.age_person()

Hello, my name is John. I am 35 years old. I was born in Tokyo and live now in Kyoto. My function is Senior Manager.


John is now 36 years old.

In [117]:
class Car:
    
    def __init__(self, brand, model, year, num_doors, owner, mileage):
        self.brand = brand
        self.model = model
        self.year = year
        self.num_doors = num_doors
        self.owner = owner
        self.mileage = mileage
        
    def describe_car(self):
        print(f"It is a {self.brand} {self.model} from {self.year}. It has {self.num_doors} doors "
              f"and its' owner is {self.owner}. Its' mileage is {self.mileage} km.")
        
    def newest_mileage(self, mileage_increase = 5000):
        self.mileage += mileage_increase
        print(f'{self.owner} drove {mileage_increase} since the last check. '
              f'Current mileage is {self.mileage}.')

In [118]:
car1 = Car('Subaru', 'Outback', 2013, 4, 'John Track', 50231)

In [119]:
car1.describe_car()

It is a Subaru Outback from 2013. It has 4 doors and its' owner is John Track. Its' mileage is 50231 km.

In [120]:
car1.newest_mileage(7809)

John Track drove 7809 since the last check. Current mileage is 58040.

In [1]:
class Vehicle:
    def __init__(self, brand):
        self.brand = brand

    def drive(self):
        print(f"The {self.brand} is being driven.")

class Car(Vehicle):
    def __init__(self, brand, model):
        super().__init__(brand)
        self.model = model

    def honk(self):
        print(f"The {self.brand} {self.model} is honking.")

# Create an instance of the Car class
my_car = Car("Toyota", "Camry")

# Access attributes and call methods from both the parent and child class
print(f"My car is a {my_car.brand} {my_car.model}.")
my_car.drive()
my_car.honk()

My car is a Toyota Camry.
The Toyota is being driven.
The Toyota Camry is honking.

In [ ]:
from math import sqrt

class Rocket:
    # Rocket simulates a rocket ship for a game,
    # or a physics simulation.
    
    def __init__(self, x = 0, y = 0):
        # Each rocket has an (x, y) position.
        self.x = x
        self.y = y
    
    def move_rocket(self, x_increment = 0, y_increment = 1):
        # Move the rocket according to the parameters given.
        # Default behavior is to move the rocket up one unit.
        self.x += x_increment
        self.y += y_increment
        
    def get_distance(self, other_rocket):
        # Calculates the distance from this rocket to another ricket,
        # and returns that value.
        distance = sqrt((self.x - other_rocket.x) ** 2 + (self.y - other_rocket.y) ** 2)

class Shuttle(Rocket):
    # Shuttle simulates a space shuttle, which is really
    # just a reusable rocket.
    
    def __init__(self, x = 0, y = 0, flights_completed = 0):
        super().__init__(x, y)
        self.flights_completed = flights_completed

In [4]:
class Student(Person):
    
    def __init__(self, name, age, birthplace, city, function, university, graduated, gpa):
        super().__init__(name, age, birthplace, city, function)
        self.university = university
        self.graduated = graduated
        self.gpa = gpa

In [5]:
student1 = Student('Louis', 25, 'Manchester', 'London', 'HR support', 'LSE', '2023', '7.5')

In [6]:
student1.introduce_yourself()

Hello, my name is Louis. I am 25 years old. I was born in Manchester and live now in London. My function is HR support.

In [7]:
student1.age_person()

Louis is now 26 years old.

In [11]:
print(f'{student1.name} graduated in {student1.graduated} '
      f'from {student1.university} with a {student1.gpa} GPA.')

Louis graduated in 2023 from LSE with a 7.5 GPA.

In [13]:
from random import randint

In [14]:
num1 = randint(0, 2)
num1

2

In [16]:
num2 = randint(0, 2)
num2

1

In [17]:
num3 = randint(0, 2)
num3

2

In [18]:
num4 = randint(0, 2)
num4

0

<h2>3.2 Modules and classes</h2>

Import <kbd>Person</kbd> and <kbd>Student</kbd> classes from <kbd>person.py</kbd> module. Option 1:

In [1]:
from person import Person, Student

In [7]:
Alex = Person('Alex', 19, 'London', 'Leeds', 'Student')

In [11]:
Alex.introduce_yourself()
Alex.age_person()

Hello, my name is Alex. I am 19 years old. I was born in London and live now in Leeds. My function is Student.
Alex is now 20 years old.

In [13]:
Alex = Student('Alex', 19, 'London', 'Leeds', 'Student', 'LSE', 2020, 7.5)

In [18]:
print(Alex.university)

LSE

Import <kbd>Person</kbd> and <kbd>Student</kbd> classes from <kbd>person.py</kbd> module. Option 2:

In [19]:
import person

person_class = person.Person
student_class = person.Student

In [21]:
John = person_class('John', 25, 'Paris', 'Manchester', 'HR officer')

In [22]:
John.introduce_yourself()

Hello, my name is John. I am 25 years old. I was born in Paris and live now in Manchester. My function is HR officer.

Import <kbd>Person</kbd> and <kbd>Student</kbd> classes from <kbd>person.py</kbd> module. Option 3:

In [23]:
import person as p

person = p.Person
student = p.Student

Import <kbd>Person</kbd> and <kbd>Student</kbd> classes from <kbd>person.py</kbd> module. Option 4:

In [24]:
from person import *

Import <kbd>Car</kbd> class from <kbd>car.py</kbd> module. Option 1:

In [26]:
from car import Car

In [27]:
car1 = Car('Volvo', 'X1', 2020, 4, 'Alex', 13000)
car1.describe_car()

It is a Volvo X1 from 2020. It has 4 doors and its' owner is Alex. Its' mileage is 13000 km.

In [28]:
car1.newest_mileage()

Alex drove 5000 since the last check. Current mileage is 18000.

Import <kbd>Car</kbd> class from <kbd>car.py</kbd> module. Option 2:

In [29]:
import car

car_class = car.Car

Import <kbd>Car</kbd> class from <kbd>car.py</kbd> module. Option 3:

In [30]:
import car as c

car = c.Car

Import <kbd>Car</kbd> class from <kbd>car.py</kbd> module. Option 4:

In [31]:
from car import *

<h2>3.3 Python Data Model</h2>

In [32]:
ranks = [str(n) for n in range(2, 11)] + list('JQKA')

In [33]:
print(ranks)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [34]:
a = list('Stefan')
print(a)

['S', 't', 'e', 'f', 'a', 'n']

In [37]:
a = (['Stefan'])
b = list(a)
print(b)

['Stefan']

In [38]:
suits = 'spades diamonds clubs hearts'.split()
print(suits)

['spades', 'diamonds', 'clubs', 'hearts']

In [40]:
from collections import namedtuple

# Define a named tuple called 'Person' with fields 'name' and 'age'
Person = namedtuple('Person', ['name', 'age'])

# Create instances of the named tuple
person1 = Person('Alice', 25)
person2 = Person('Bob', 30)

In [42]:
# Access the fields of the named tuple
print(person1.name)
print(person1.age)

Alice
25

In [ ]:
# Named tuples are immutable, but you can replace fields using the _replace() method
person1 = person1._replace(age = 26)
print(person1.age)

26

In [59]:
person1

Person(name='Alice', age=26)

In [45]:
numbers = (1, 2, 3, 4)

In [57]:
from random import choice

choice(numbers)

1

In [5]:
class MyList:
    def __init__(self, data):
        self.data = data

    def __len__(self):
        return len(self.data)

In [6]:
my_list = MyList([1, 2, 3, 4, 5])

In [9]:
# Using len() function
print(len(my_list))

5

In [10]:
# Accessing __len__ directly
print(my_list.__len__())

5

In [12]:
import collections

Card = collections.namedtuple('Card', ['rank', 'suit'])

In [16]:
a = [n for n in range (2, 11)]

In [17]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
b = [range(2, 11)]
b

[range(2, 11)]

In [19]:
print(n for n in range(2, 11))

<generator object <genexpr> at 0x0000018E0AA1E5F0>

In [20]:
a = range(2, 11)
a

range(2, 11)

In [26]:
for n in a:
    print(str(n))

2
3
4
5
6
7
8
9
10

In [27]:
ranks = [str(n) for n in range(2, 11)] + list('JQKA')
suits = 'spades diamonds clubs hearts'.split()

In [30]:
print(ranks)
print(suits)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']
['spades', 'diamonds', 'clubs', 'hearts']

In [32]:
card = [(rank, suit) for suit in suits for rank in ranks]

In [33]:
card

[('2', 'spades'),
 ('3', 'spades'),
 ('4', 'spades'),
 ('5', 'spades'),
 ('6', 'spades'),
 ('7', 'spades'),
 ('8', 'spades'),
 ('9', 'spades'),
 ('10', 'spades'),
 ('J', 'spades'),
 ('Q', 'spades'),
 ('K', 'spades'),
 ('A', 'spades'),
 ('2', 'diamonds'),
 ('3', 'diamonds'),
 ('4', 'diamonds'),
 ('5', 'diamonds'),
 ('6', 'diamonds'),
 ('7', 'diamonds'),
 ('8', 'diamonds'),
 ('9', 'diamonds'),
 ('10', 'diamonds'),
 ('J', 'diamonds'),
 ('Q', 'diamonds'),
 ('K', 'diamonds'),
 ('A', 'diamonds'),
 ('2', 'clubs'),
 ('3', 'clubs'),
 ('4', 'clubs'),
 ('5', 'clubs'),
 ('6', 'clubs'),
 ('7', 'clubs'),
 ('8', 'clubs'),
 ('9', 'clubs'),
 ('10', 'clubs'),
 ('J', 'clubs'),
 ('Q', 'clubs'),
 ('K', 'clubs'),
 ('A', 'clubs'),
 ('2', 'hearts'),
 ('3', 'hearts'),
 ('4', 'hearts'),
 ('5', 'hearts'),
 ('6', 'hearts'),
 ('7', 'hearts'),
 ('8', 'hearts'),
 ('9', 'hearts'),
 ('10', 'hearts'),
 ('J', 'hearts'),
 ('Q', 'hearts'),
 ('K', 'hearts'),
 ('A', 'hearts')]

In [39]:
a = [n for n in range(0, 11)]
b = [n for n in reversed(range(0, 11))]

In [40]:
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
from math import hypot

class Vector:
    
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return 'Vector(%r, %r)' % (self.x, self.y)
    
    def __abs__(self):
        return hypot(self.x, self.y)
    
    def __bool__(self):
        return bool(abs(self))
    
    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x, y)
    
    def __mul__(self, scalar):
        return Vector(self.x * scalar, self.y * scalar)

In [44]:
vector1 = Vector()
vector2 = Vector(25, 10)

In [51]:
print(repr(vector1))
print(repr(vector2))

Vector(0, 0)
Vector(25, 10)

In [52]:
print(abs(vector1))
print(abs(vector2))

0.0
26.925824035672523

In [53]:
print(bool(vector1))
print(bool(vector2))

False
True

In [74]:
vector3 = Vector(-1, 10)
print(bool(vector3))

True

In [75]:
vector4 = Vector(4, 20)

In [78]:
vector2.__add__(vector3)

Vector(24, 20)

In [79]:
vector2.__mul__(2)

Vector(50, 20)

In [81]:
vector2 + vector3

Vector(24, 20)

In [82]:
vector2 * 2

Vector(50, 20)

In [84]:
from math import hypot

class Vector:

    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __repr__(self):
        return 'Vector(%r, %r)' % (self.x, self.y)

    def __abs__(self):
        return hypot(self.x, self.y)

    def __bool__(self):
        return bool(abs(self))

    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x, y)

    def __mul__(self, scalar):
        return Vector(self.x * scalar, self.y * scalar)

# Create an instance of Vector using vector1 = (25, 10)
vector1 = Vector(25, 10)
print(vector1)  # Output: Vector(25, 10)

# Calculate the absolute value (magnitude) of the vector
magnitude = abs(vector1)
print(magnitude)  # Output: 26.90724809414742

# Check if the vector is considered True or False
is_nonzero = bool(vector1)
print(is_nonzero)  # Output: True

# Create another vector
vector2 = Vector(5, 8)

# Add two vectors
vector_sum = vector1 + vector2
print(vector_sum)  # Output: Vector(30, 18)

# Multiply the vector by a scalar
scaled_vector = vector1 * 2
print(scaled_vector)  # Output: Vector(50, 20)

Vector(25, 10)
26.925824035672523
True
Vector(30, 18)
Vector(50, 20)

In [85]:
vector1 = Vector(25, 10)

print(vector1)

Vector(25, 10)

In [86]:
abs(vector1)

26.925824035672523

In [87]:
bool(vector1)

True

In [88]:
vector2 = Vector(5, 8)

vector1 + vector2

Vector(30, 18)

In [89]:
vector1 * 2

Vector(50, 20)

In [41]:
class ClassA:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'ClassA({self.x}, {self.y})'
        
    def addition(self, other_number):
        x = self.x + other_number.x
        y = self.y + other_number.y
        return ClassA(x, y)

In [42]:
class ClassB:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'ClassB({self.x}, {self.y})'
        
    def __add__(self, other_number):
        x = self.x + other_number.x
        y = self.y + other_number.y
        return ClassB(x, y)

In [43]:
num1 = ClassA(10, 20)
num2 = ClassA(5, 7)

num1 = num1.addition(num2)
num1

ClassA(15, 27)

In [44]:
num11 = ClassB(10, 20)
num22 = ClassB(5, 7)

num11 + num22

ClassB(15, 27)

In [92]:
class Person:
    
    def __init__(self, name, age, birthplace, city, function):
        self.name = name
        self.age = age
        self.birthplace = birthplace
        self.city = city
        self.function = function
        
    def introduce_yourself(self):
        return f'Hello, my name is {self.name}. I am {self.age} years old. ' \
               f'I was born in {self.birthplace} and live now in {self.city}. ' \
               f'My function is {self.function}.'

In [93]:
Alex = Person('Alex', 29, 'Paris', 'Lyon', 'HR manager')

In [95]:
print(Alex.introduce_yourself())

Hello, my name is Alex. I am 29 years old. I was born in Paris and live now in Lyon. My function is HR manager.

In [88]:
class Person2:
    
    def __init__(self, name, age, birthplace, city, function):
        self.name = name
        self.age = age
        self.birthplace = birthplace
        self.city = city
        self.function = function
        
    def __repr__(self):
        return f'Hello, my name is {self.name}. I am {self.age} years old. ' \
               f'I was born in {self.birthplace} and live now in {self.city}. ' \
               f'My function is {self.function}.'

In [89]:
John = Person2('John', 31, 'Berlin', 'Manchester', 'HR officer')

In [91]:
John

Hello, my name is John. I am 31 years old. I was born in Berlin and live now in Manchester. My function is HR officer.

In [82]:
class Person2:
    
    def __init__(self, name, age, birthplace, city, function):
        self.name = name
        self.age = age
        self.birthplace = birthplace
        self.city = city
        self.function = function
        
    def __str__(self):
        return f'Hello, my name is {self.name}. I am {self.age} years old. ' \
               f'I was born in {self.birthplace} and live now in {self.city}. ' \
               f'My function is {self.function}.'

# Create an instance of the Person2 class
John = Person2('John', 31, 'Berlin', 'Manchester', 'HR officer')

# Print the representation and string representation of the John object
print(str(John))

Hello, my name is John. I am 31 years old. I was born in Berlin and live now in Manchester. My function is HR officer.

In [103]:
class ArbitraryName:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def show(self):
        print(f'ArbitraryName({self.x}, {self.y})')
        
    def multiply(self, other):
        x = self.x * other.x
        y = self.y * other.y
        print(f'ArbitraryName({x}, {y})')

In [104]:
Num1 = ArbitraryName(10, 20)

Num1.show()

ArbitraryName(10, 20)

In [105]:
Num2 = ArbitraryName(2, 2)

Num1.multiply(Num2)

ArbitraryName(20, 40)

In [106]:
class DataModel:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'ArbitraryName({self.x}, {self.y})'
        
    def __mul__(self, other):
        x = self.x * other.x
        y = self.y * other.y
        return f'ArbitraryName({x}, {y})'

In [107]:
DMNum1 = DataModel(40, 50)
DMNum2 = DataModel(3, 2)

In [108]:
DMNum1

ArbitraryName(40, 50)

In [109]:
DMNum2

ArbitraryName(3, 2)

In [112]:
print(DMNum1 * DMNum2)

ArbitraryName(120, 100)

# 3.4 Functions as Objects

In [90]:
names_list = ['Alex', 'John', 'Steven', 'Patrick', 'Louis', 'Walter', 'Zachary']

sorted(names_list, key = len)

['Alex', 'John', 'Louis', 'Steven', 'Walter', 'Patrick', 'Zachary']

# 3.5 Magic Methods and Operator Overloading

In [113]:
4 + 5

9

In [114]:
3.8 + 9

12.8

In [115]:
'Peter' + ' ' + 'Pan'

'Peter Pan'

In [117]:
'Peter' + " " + 'Pan'

'Peter Pan'

In [118]:
[3, 6, 8] + [7, 11, 13]

[3, 6, 8, 7, 11, 13]

In [32]:
class Length:

    __metric = {"mm": 0.001, "cm": 0.01, "m": 1, "km": 1000,
                "in": 0.0254, "ft": 0.3048, "yd": 0.9144,
                "mi": 1609.344}
    
    def __init__(self, value, unit = "m" ):
        self.value = value
        self.unit = unit
    
    def Converse2Metres(self):
        return self.value * Length.__metric[self.unit]
    
    def __add__(self, other):
        l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit )
    
    def __str__(self):
        return str(self.Converse2Metres())
    
    def __repr__(self):
        return "Length(" + str(self.value) + ", '" + self.unit + "')"

In [3]:
L = Length
print(L(2.56, 'm') + L(3, 'yd') + L(7.8, 'in') + L(7.03, 'cm'))

5.57162

In [6]:
print(L(3, 'm') + L(2, 'm') + L(15, 'cm'))

5.15

In [13]:
if __name__ == "__main__":
    x = Length(4)
    print(x)
    y = eval(repr(x)) # Output 4

z = Length(4.5, "yd") + Length(1)
print(repr(z)) # Output Length(5.593613298337708, 'yd')
print(z)       # Output 5.1148

4
Length(5.593613298337708, 'yd')
5.1148

In [29]:
Length._Length__metric['mm']

0.001

In [95]:
class Length:
# This is a class that converts different numeric values into different metrics.
    
    # This is a dictionary that says how can you make an e.g. mm into a meter.
    # 1 mm is 0.001 m etc.
    # Double underscore means that this dictionary is only used within the class.
    __metric = {"mm": 0.001, "cm": 0.01, "m": 1, "km": 1000,
                "in": 0.0254, "ft": 0.3048, "yd": 0.9144,
                "mi": 1609.344}
    
    # The default value is in meters, so if you input just a number like 5
    # it will be automatically considered as meters.
    def __init__(self, value, unit = "m" ):
        self.value = value
        self.unit = unit
    
    # This method converts values into metres
    # Length.__metric indicates that the dictionary __metric is inside the Length class.
    # You can use __metric without the Length. part but it's recommended to use the
    # full name: Length.__metric.
    def Converse2Metres(self):
        # Multiply your value on the number corresponding for the unit in the __metric dictionary.
        return self.value * Length.__metric[self.unit]
    
    # This method takes two values, converts them to meters, sums them, converts them back
    # to the unit of the first number.
    def __add__(self, other):
        l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit)
    
    # This method is called by str(number1) or print(number1).
    # The first one will give the result in '5' instead of 5 because the result will be a string.
    def __str__(self):
        return str(self.Converse2Metres())
    
    # This method is called simply by writing number1 (name of the value).
    def __repr__(self):
        return "Length(" + str(self.value) + ", '" + self.unit + "')"
        # The above line is the same as the following line:
        # return f'Length({str(self.value)}, {self.unit})'

In [38]:
l = Length

# Setting a number
number1 = l(10)

In [39]:
# Calling a number
number1

Length(10, 'm')

In [41]:
# Setting and calling a number in cm
number2 = l(65, 'cm')
number2

Length(65, 'cm')

In [50]:
# Running the converter on a number
number2.Converse2Metres()

0.65

In [51]:
# When run on a value already in meters the value is not changed
number1.Converse2Metres()

10

In [55]:
Length._Length__metric['cm']

0.01

In [59]:
number1 + number2

Length(10.65, 'm')

In [61]:
number1 + number2

Length(10.65, 'm')

In [76]:
length1 = Length(5, 'cm')
length2 = Length(2, 'in')

length1 + length2

Length(10.08, 'cm')

In [89]:
str(number2)

'0.65'

In [90]:
print(number2)

0.65

In [91]:
number2

Length(65, 'cm')

In [94]:
number2

Length(65, 'cm')

In [1]:
class Length:

    __metric = {"mm" : 0.001, "cm" : 0.01, "m" : 1, "km" : 1000,
                "in" : 0.0254, "ft" : 0.3048, "yd" : 0.9144,
                "mi" : 1609.344 }
    
    def __init__(self, value, unit = "m" ):
        self.value = value
        self.unit = unit
    
    def Converse2Metres(self):
        return self.value * Length.__metric[self.unit]
    
    def __add__(self, other):
        l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit )
    
    def __str__(self):
        return str(self.Converse2Metres())
    
    def __repr__(self):
        return "Length(" + str(self.value) + ", '" + self.unit + "')"

# if __name__ == "__main__":
x = Length(4)
print(x)
y = eval(repr(x))

z = Length(4.5, "yd") + Length(1)
print(repr(z))
print(z)

4
Length(5.593613298337708, 'yd')
5.1148

In [98]:
x

Length(4, 'm')

In [100]:
eval(repr(x))

Length(4, 'm')

In [101]:
x2 = x
x2

Length(4, 'm')

In [2]:
x += Length(1)
x

Length(5.0, 'm')

In [3]:
x

Length(5.0, 'm')

In [4]:
x += Length(4.5)
x

Length(9.5, 'm')

In [2]:
class Length:

    __metric = {"mm": 0.001, "cm": 0.01, "m": 1, "km": 1000,
                "in": 0.0254, "ft": 0.3048, "yd": 0.9144,
                "mi": 1609.344 }
    
    def __init__(self, value, unit = "m" ):
        self.value = value
        self.unit = unit
    
    def Converse2Metres(self):
        return self.value * Length.__metric[self.unit]
    
    def __add__(self, other):
        l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit )
    
    def __str__(self):
        return str(self.Converse2Metres())
    
    def __repr__(self):
        return "Length(" + str(self.value) + ", '" + self.unit + "')"

if __name__ == "__main__":
    x = Length(4)
    print(x)
    y = eval(repr(x))

    z = Length(4.5, "yd") + Length(1)
    print(repr(z))
    print(z)

4
Length(5.593613298337708, 'yd')
5.1148

In [4]:
    def __iadd__(self, other):
        l = self.Converse2Metres() + other.Converse2Metres()
        self.value = l / Length.__metric[self.unit]
        return self

In [5]:
    def __add__(self, other):
        if type(other) == int or type(other) == float:
            l = self.Converse2Metres() + other
        else:
            l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit )

    def __iadd__(self, other):
        if type(other) == int or type(other) == float:
            l = self.Converse2Metres() + other
        else:
            l = self.Converse2Metres() + other.Converse2Metres()
        self.value = l / Length.__metric[self.unit]
        return self

In [10]:
    def __radd__(self, other):
        if type(other) == int or type(other) == float:
            l = self.Converse2Metres() + otherLength.__radd__(Length(3, "yd"), 5)
        else:
            l = self.Converse2Metres() + other.Converse2Metres()
        return Length(l / Length.__metric[self.unit], self.unit )

In [13]:
    def __radd__(self, other):
        return Length.__add__(self,other)

In [25]:
class Polynomial:
    
    def __init__(self, *coefficients):
        self.coefficients = coefficients[::-1]
        
    def __call__(self, x):
        res = 0
        for index, coeff in enumerate(self.coefficients):
            res += coeff * x** index
        return res

In [26]:
# a constant function
p1 = Polynomial(42)

# a straight Line
p2 = Polynomial(0.75, 2)

# a third degree Polynomial
p3 = Polynomial(1, -0.5, 0.75, 2)

In [18]:
for i in range(1, 10):
    print(i, p1(i), p2(i), p3(i))

1 42 2.75 3.25
2 42 3.5 9.5
3 42 4.25 26.75
4 42 5.0 61.0
5 42 5.75 118.25
6 42 6.5 204.5
7 42 7.25 325.75
8 42 8.0 488.0
9 42 8.75 697.25

In [27]:
class Plist(list):

    def __init__(self, l):
        list.__init__(self, l)

    def push(self, item):
        self.append(item)


if __name__ == "__main__":
    x = Plist([3,4])
    x.push(47)
    print(x)

[3, 4, 47]

<b>Exercise 1: Canadian money</b>

In [76]:
class Converter:
    
    __rates = {'EUR': 1, 'GBP': 0.859421, 'USD': 1.06933, 'RUB': 0.011492}
    
    def __init__(self, amount, currency = 'EUR'):
        self.amount = amount
        self.currency = currency
        
    def IntoEuros(self):
        return self.amount * Converter.__rates[self.currency]
    
    def __add__(self, other):
        if isinstance(other, (int, float)):
            other = Converter(other, 'EUR')
        c = self.IntoEuros() + other.IntoEuros()
        return c

    def __radd__(self, other):
        if isinstance(other, (int, float)):
            other = Converter(other, 'EUR')
        c = other.IntoEuros() + self.IntoEuros()
        return c    
    
    def __str__(self):
        return str(self.IntoEuros())
    
    def __repr__(self):
        return f'Converter({str(self.value)}, {self.currency})'

In [66]:
v1 = Converter(23.43, 'EUR')
v2 = Converter(19.97, 'USD')

In [67]:
print(v1 + v2)

44.784520099999995

In [68]:
print(v2 + v1)

44.784520099999995

In [69]:
print(v1 + 3)

26.43

In [71]:
print(3 + v1)

26.43

In [80]:
v3 = Converter(124000, 'RUB')

v3.IntoEuros()

1425.008

In [79]:
import random

class CardDeck:
    ranks = [str(n) for n in range(2, 11)] + ['J', 'Q', 'K', 'A']
    suits = 'â™ â™¡â™¢â™£'

    def __init__(self):
        self._cards = [
            rank + suit
            for suit in self.suits
            for rank in self.ranks
        ]

    def __len__(self):
        return len(self._cards)

    def __getitem__(self, position):
        return self._cards[position]

    def __setitem__(self, position, value):
        self._cards[position] = value

    def __iter__(self):
        return iter(self._cards)

    def shuffle(self):
        random.shuffle(self._cards)

# Usage:
deck = CardDeck()
print(len(deck))  # Output: 52
print(deck[0])  # Output: 2â™ 
print(deck[-1])  # Output: Aâ™£
print(random.choice(deck) in list(deck))  # Output: True
deck.shuffle()  # Shuffles the deck

52
2â™
Aâ™£
True

In [81]:
class Polynomial:
    def __init__(self, coefficients):
        self.coefficients = coefficients

    def __str__(self):
        terms = []
        for power, coeff in enumerate(self.coefficients[::-1]):
            if coeff != 0:
                term = f"{coeff}x^{power}" if power > 1 else f"{coeff}x" if power == 1 else str(coeff)
                terms.append(term)
        return " + ".join(terms)

    def __add__(self, poly):
        max_len = max(len(self.coefficients), len(poly.coefficients))
        padded_self = self.coefficients + [0] * (max_len - len(self.coefficients))
        padded_poly = poly.coefficients + [0] * (max_len - len(poly.coefficients))
        result = [a + b for a, b in zip(padded_self, padded_poly)]
        return Polynomial(result)

    def __sub__(self, poly):
        max_len = max(len(self.coefficients), len(poly.coefficients))
        padded_self = self.coefficients + [0] * (max_len - len(self.coefficients))
        padded_poly = poly.coefficients + [0] * (max_len - len(poly.coefficients))
        result = [a - b for a, b in zip(padded_self, padded_poly)]
        return Polynomial(result)

    def __mul__(self, poly):
        product = [0] * (len(self.coefficients) + len(poly.coefficients) - 1)
        for i, a in enumerate(self.coefficients):
            for j, b in enumerate(poly.coefficients):
                product[i + j] += a * b
        return Polynomial(product)

    def value(self, x):
        result = 0
        for power, coeff in enumerate(self.coefficients):
            result += coeff * x ** power
        return result

    def derivative(self):
        derivative_coeffs = [coeff * power for power, coeff in enumerate(self.coefficients[1:], start=1)]
        return Polynomial(derivative_coeffs)

In [82]:
p1 = Polynomial([2, -1, 7])
p2 = Polynomial([3, 4, 1])

print(p1)  # Output: 2x^2 - x + 7
print(p2)  # Output: 3x^2 + 4x + 1

p3 = p1 + p2
print(p3)  # Output: 5x^2 + 3x + 8

p4 = p1 - p2
print(p4)  # Output: -1x^2 - 5x + 6

p5 = p1 * p2
print(p5)  # Output: 6x^4 + 5x^3 + 17x^2 + 3x + 7

print(p1.value(2))  # Output: 19

p6 = p1.derivative()
print(p6)  # Output: 4x - 1

7 + -1x + 2x^2
1 + 4x + 3x^2
8 + 3x + 5x^2
6 + -5x + -1x^2
7 + 27x + 19x^2 + 5x^3 + 6x^4
28
14 + -1x

# 3.6 Exceptions

In [1]:
list_of_numbers = [number for number in range(1, 100)]
print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [2]:
dictionary_of_numbers = {}
for number in list_of_numbers:
    dictionary_of_numbers[number ** 2] = number

In [3]:
try:
    index = list_of_numbers.index(2)
    value = dictionary_of_numbers[index]
except (ValueError, KeyError):
    print('Error Raised, but Controlled! ')
else: 
    # This executes ONLY if no exception is raised
    print('Getting number at position %d : %d' % (index, value))
finally:
    # Do cleanup operations
    print('Cleaning UP')

Getting number at position 1 : 1
Cleaning UP