# <b>Python for Data Analysis</b>
# 11.  Time Series

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress = True)
from pandas import Series, DataFrame
%matplotlib inline

## 11.1 Date and Time Data Types and Tools

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()
now

datetime.datetime(2024, 2, 8, 18, 0, 16, 746050)

In [4]:
now.year, now.month, now.day

(2024, 2, 8)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [12]:
stamp = datetime(2011, 1, 3)

In [13]:
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [15]:
value = "2011-01-03"

In [16]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ["7/6/2011", "8/6/2011"]

In [18]:
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

In [20]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [24]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [25]:
ts = pd.Series(np.random.standard_normal(6), index = dates)
ts

2011-01-02    0.075990
2011-01-05   -0.804984
2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
2011-01-12    0.581454
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    0.151981
2011-01-05         NaN
2011-01-07   -0.331918
2011-01-08         NaN
2011-01-10   -1.671830
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [30]:
ts

2011-01-02    0.075990
2011-01-05   -0.804984
2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
2011-01-12    0.581454
dtype: float64

In [31]:
stamp = ts.index[2]

In [32]:
ts[stamp]

-0.16595890235765745

In [33]:
ts["2011-01-10"]

-0.835914950724702

In [34]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index = pd.date_range("2000-01-01", periods = 1000))
longer_ts

2000-01-01    0.022175
2000-01-02   -1.010160
2000-01-03   -0.145745
2000-01-04    2.044208
2000-01-05    0.755922
                ...
2002-09-22   -0.299092
2002-09-23   -0.007102
2002-09-24    0.655344
2002-09-25    0.607319
2002-09-26   -1.320456
Freq: D, Length: 1000, dtype: float64

In [35]:
longer_ts["2001"]

2001-01-01    0.507650
2001-01-02    0.483993
2001-01-03   -0.524239
2001-01-04    1.095047
2001-01-05   -1.605401
                ...
2001-12-27   -0.634364
2001-12-28   -0.078953
2001-12-29   -0.354483
2001-12-30    0.871373
2001-12-31   -2.674252
Freq: D, Length: 365, dtype: float64

In [36]:
longer_ts["2001-05"]

2001-05-01   -1.363678
2001-05-02   -0.439180
2001-05-03    1.371925
2001-05-04    0.665957
2001-05-05    1.154714
                ...
2001-05-27    0.264518
2001-05-28   -1.095538
2001-05-29   -0.596160
2001-05-30   -0.378088
2001-05-31    1.410909
Freq: D, Length: 31, dtype: float64

In [37]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
2011-01-12    0.581454
dtype: float64

In [38]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
dtype: float64

In [39]:
ts

2011-01-02    0.075990
2011-01-05   -0.804984
2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
2011-01-12    0.581454
dtype: float64

In [40]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
dtype: float64

In [41]:
ts.truncate(after = "2011-01-09")

2011-01-02    0.075990
2011-01-05   -0.804984
2011-01-07   -0.165959
2011-01-08    0.791545
dtype: float64

In [42]:
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED")
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [43]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index = dates,
                       columns = ["Colorado", "Texas",
                                  "New York", "Ohio"])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -1.543922  1.447895  2.247785 -1.226036
2000-01-12 -0.283314 -0.619727 -0.671294 -0.835289
2000-01-19 -0.098362  0.252689  0.512813 -0.271969
2000-01-26 -1.613264 -0.560835  1.847334  0.370713
2000-02-02 -0.866455  0.610358 -1.356800  1.493827

In [44]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.226786 -0.532001  0.509959 -0.206876
2001-05-09 -0.361164  1.555084 -1.458506  2.983465
2001-05-16  1.083343 -0.460927 -3.235039  0.527810
2001-05-23 -0.251200 -0.041956  0.517633 -0.122171
2001-05-30 -1.290622 -1.230813 -0.116778  0.681633

### Time Series with Duplicate Indices

In [45]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])

In [46]:
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [47]:
dup_ts.index.is_unique

False

In [48]:
dup_ts["2000-01-03"] # not duplicated

4

In [49]:
dup_ts["2000-01-02"] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [50]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [51]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [54]:
ts

2011-01-02    0.075990
2011-01-05   -0.804984
2011-01-07   -0.165959
2011-01-08    0.791545
2011-01-10   -0.835915
2011-01-12    0.581454
dtype: float64

In [55]:
resampler = ts.resample("D")
resampler

### Generating Date Ranges

In [56]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range("2024-01-01", "2024-02-29")

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(end = "2012-06-01", periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(end = "2012-06-01", periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range("2000-01-01", "2000-12-01", freq = "BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [62]:
pd.date_range("2012-05-02 12:56:31", periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range("2012-05-02 12:56:31", periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [63]:
from pandas.tseries.offsets import Hour, Minute

In [64]:
hour = Hour()
hour

In [66]:
four_hours = Hour(4)
four_hours

In [67]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq = "4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [68]:
Hour(2) + Minute(30)

In [69]:
pd.date_range("2000-01-01", periods = 10, freq = "1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [70]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq = "WOM-3FRI")

In [71]:
list(monthly_dates)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [73]:
ts = pd.Series(np.random.standard_normal(4),
               index = pd.date_range("2000-01-01", periods = 4, freq = "M"))
ts

2000-01-31   -0.737922
2000-02-29    0.950065
2000-03-31    0.348952
2000-04-30   -0.311124
Freq: M, dtype: float64

In [74]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.737922
2000-04-30    0.950065
Freq: M, dtype: float64

In [75]:
ts.shift(-2)

2000-01-31    0.348952
2000-02-29   -0.311124
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [78]:
ts

2000-01-31   -0.737922
2000-02-29    0.950065
2000-03-31    0.348952
2000-04-30   -0.311124
Freq: M, dtype: float64

In [77]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -0.737922
2000-03-31    0.950065
2000-04-30    0.348952
Freq: M, dtype: float64

In [81]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.287488
2000-03-31   -0.632707
2000-04-30   -1.891594
Freq: M, dtype: float64

In [79]:
(0.950065 / -0.737922) - 1

-2.28748702437385

In [80]:
ts.pct_change()

2000-01-31         NaN
2000-02-29   -2.287488
2000-03-31   -0.632707
2000-04-30   -1.891594
Freq: M, dtype: float64

In [82]:
ts

2000-01-31   -0.737922
2000-02-29    0.950065
2000-03-31    0.348952
2000-04-30   -0.311124
Freq: M, dtype: float64

In [85]:
ts.shift(2)

2000-03-31   -0.737922
2000-04-30    0.950065
2000-05-31    0.348952
2000-06-30   -0.311124
Freq: M, dtype: float64

In [85]:
ts.shift(2)

2000-03-31   -0.737922
2000-04-30    0.950065
2000-05-31    0.348952
2000-06-30   -0.311124
Freq: M, dtype: float64

In [86]:
ts.shift(3, freq = "D")

2000-02-03   -0.737922
2000-03-03    0.950065
2000-04-03    0.348952
2000-05-03   -0.311124
dtype: float64

In [87]:
ts.shift(1, freq = "90T")

2000-01-31 01:30:00   -0.737922
2000-02-29 01:30:00    0.950065
2000-03-31 01:30:00    0.348952
2000-04-30 01:30:00   -0.311124
dtype: float64

#### Shifting dates with offsets

In [88]:
from pandas.tseries.offsets import Day, MonthEnd

In [89]:
now = datetime(2011, 11, 17)

In [90]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [91]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [92]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [94]:
offset = MonthEnd()

In [95]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [96]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [98]:
ts = pd.Series(np.random.standard_normal(20),
               index = pd.date_range("2000-01-15", periods = 20, freq = "4D"))
ts

2000-01-15   -0.046769
2000-01-19   -0.131131
2000-01-23   -0.217045
2000-01-27    1.084611
2000-01-31   -0.238079
2000-02-04    1.826491
2000-02-08    0.419225
2000-02-12   -0.627634
2000-02-16    0.146316
2000-02-20    2.233156
2000-02-24   -0.964755
2000-02-28    0.344279
2000-03-03    0.077064
2000-03-07   -0.148385
2000-03-11   -1.731882
2000-03-15    1.062619
2000-03-19    0.512515
2000-03-23   -1.833208
2000-03-27    0.026039
2000-03-31    0.565176
Freq: 4D, dtype: float64

In [99]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31    0.090317
2000-02-29    0.482440
2000-03-31   -0.183758
dtype: float64

In [100]:
ts.resample("M").mean()

2000-01-31    0.090317
2000-02-29    0.482440
2000-03-31   -0.183758
Freq: M, dtype: float64

## 11.4 Time Zone Handling

In [101]:
import pytz

In [102]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [103]:
tz = pytz.timezone("America/New_York")
tz

### Time Zone Localization and Conversion

In [104]:
dates = pd.date_range("2012-03-09 09:30", periods = 6)

In [105]:
ts = pd.Series(np.random.standard_normal(len(dates)), index = dates)
ts

2012-03-09 09:30:00    0.018709
2012-03-10 09:30:00   -2.943800
2012-03-11 09:30:00   -0.936183
2012-03-12 09:30:00   -2.050047
2012-03-13 09:30:00   -0.035608
2012-03-14 09:30:00    0.127417
Freq: D, dtype: float64

In [106]:
print(ts.index.tz)

None

In [107]:
pd.date_range("2012-03-09 09:30", periods = 10, tz = "UTC")

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [108]:
ts

2012-03-09 09:30:00    0.018709
2012-03-10 09:30:00   -2.943800
2012-03-11 09:30:00   -0.936183
2012-03-12 09:30:00   -2.050047
2012-03-13 09:30:00   -0.035608
2012-03-14 09:30:00    0.127417
Freq: D, dtype: float64

In [109]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00    0.018709
2012-03-10 09:30:00+00:00   -2.943800
2012-03-11 09:30:00+00:00   -0.936183
2012-03-12 09:30:00+00:00   -2.050047
2012-03-13 09:30:00+00:00   -0.035608
2012-03-14 09:30:00+00:00    0.127417
Freq: D, dtype: float64

In [110]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [114]:
ts_utc.tz_convert("Europe/Amsterdam")

2012-03-09 10:30:00+01:00    0.018709
2012-03-10 10:30:00+01:00   -2.943800
2012-03-11 10:30:00+01:00   -0.936183
2012-03-12 10:30:00+01:00   -2.050047
2012-03-13 10:30:00+01:00   -0.035608
2012-03-14 10:30:00+01:00    0.127417
Freq: D, dtype: float64

In [114]:
ts_utc.tz_convert("Europe/Amsterdam")

2012-03-09 10:30:00+01:00    0.018709
2012-03-10 10:30:00+01:00   -2.943800
2012-03-11 10:30:00+01:00   -0.936183
2012-03-12 10:30:00+01:00   -2.050047
2012-03-13 10:30:00+01:00   -0.035608
2012-03-14 10:30:00+01:00    0.127417
Freq: D, dtype: float64

In [115]:
ts_eastern = ts.tz_localize("America/New_York")
ts_eastern

2012-03-09 09:30:00-05:00    0.018709
2012-03-10 09:30:00-05:00   -2.943800
2012-03-11 09:30:00-04:00   -0.936183
2012-03-12 09:30:00-04:00   -2.050047
2012-03-13 09:30:00-04:00   -0.035608
2012-03-14 09:30:00-04:00    0.127417
dtype: float64

In [120]:
ts_eastern.tz_convert("Europe/Berlin")

2012-03-09 15:30:00+01:00    0.018709
2012-03-10 15:30:00+01:00   -2.943800
2012-03-11 14:30:00+01:00   -0.936183
2012-03-12 14:30:00+01:00   -2.050047
2012-03-13 14:30:00+01:00   -0.035608
2012-03-14 14:30:00+01:00    0.127417
dtype: float64

In [117]:
ts.index.tz_localize("Asia/Shanghai")

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### Operations with Time Zone-Aware Timestamp Objects

In [121]:
stamp = pd.Timestamp("2011-03-12 04:00")

In [122]:
stamp_utc = stamp.tz_localize("utc")

In [123]:
stamp_utc.tz_convert("America/New_York")

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [124]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz = "Europe/Moscow")

In [125]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [126]:
stamp_utc.value

1299902400000000000

In [127]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

In [128]:
stamp = pd.Timestamp("2012-03-11 01:30", tz = "US/Eastern")
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [129]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [130]:
stamp = pd.Timestamp("2012-11-04 00:30", tz = "US/Eastern")
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [131]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [132]:
dates = pd.date_range("2012-03-07 09:30", periods = 10, freq = "B")

In [133]:
ts = pd.Series(np.random.standard_normal(len(dates)), index = dates)
ts

2012-03-07 09:30:00   -0.994382
2012-03-08 09:30:00    0.230648
2012-03-09 09:30:00    0.667928
2012-03-12 09:30:00   -2.109340
2012-03-13 09:30:00    0.604669
2012-03-14 09:30:00    0.308230
2012-03-15 09:30:00    1.310642
2012-03-16 09:30:00    1.345724
2012-03-19 09:30:00    0.863284
2012-03-20 09:30:00   -0.614908
Freq: B, dtype: float64

In [134]:
ts1 = ts[:7].tz_localize("Europe/London")

In [135]:
ts2 = ts1[2:].tz_convert("Europe/Moscow")

In [136]:
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Period Arithmetic