# <b>Python for Data Analysis</b>
# 11.  Time Series

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress = True)
from pandas import Series, DataFrame
%matplotlib inline

## 11.1 Date and Time Data Types and Tools

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()
now

datetime.datetime(2024, 2, 7, 19, 57, 9, 725422)

In [4]:
now.year, now.month, now.day

(2024, 2, 7)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [12]:
stamp = datetime(2011, 1, 3)

In [13]:
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [15]:
value = "2011-01-03"

In [16]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ["7/6/2011", "8/6/2011"]

In [18]:
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

In [20]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [24]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [25]:
ts = pd.Series(np.random.standard_normal(6), index = dates)
ts

2011-01-02    0.251958
2011-01-05   -0.967936
2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
2011-01-12    1.919465
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    0.503916
2011-01-05         NaN
2011-01-07   -2.624838
2011-01-08         NaN
2011-01-10    2.540748
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [30]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [31]:
ts

2011-01-02    0.251958
2011-01-05   -0.967936
2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
2011-01-12    1.919465
dtype: float64

In [32]:
stamp = ts.index[2]

In [33]:
ts[stamp]

-1.3124190808564768

In [34]:
ts["2011-01-10"]

1.2703741423128756

In [36]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index = pd.date_range("2000-01-01", periods = 1000))
longer_ts

2000-01-01    1.009016
2000-01-02    0.480698
2000-01-03   -0.186988
2000-01-04   -0.412553
2000-01-05    0.176634
                ...
2002-09-22   -0.041065
2002-09-23    0.159260
2002-09-24    0.106391
2002-09-25   -2.457585
2002-09-26    1.247149
Freq: D, Length: 1000, dtype: float64

In [37]:
longer_ts["2001"]

2001-01-01    1.013189
2001-01-02   -1.227721
2001-01-03    0.833596
2001-01-04    1.905358
2001-01-05   -0.113831
                ...
2001-12-27   -0.997537
2001-12-28   -0.656878
2001-12-29    0.920212
2001-12-30   -0.606155
2001-12-31    0.133278
Freq: D, Length: 365, dtype: float64

In [38]:
longer_ts["2001-05"]

2001-05-01   -0.586977
2001-05-02   -1.686549
2001-05-03   -1.816982
2001-05-04    0.082023
2001-05-05   -0.009747
                ...
2001-05-27   -1.033767
2001-05-28    0.989497
2001-05-29   -0.500611
2001-05-30    0.141863
2001-05-31   -1.012981
Freq: D, Length: 31, dtype: float64

In [39]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
2011-01-12    1.919465
dtype: float64

In [40]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
dtype: float64

In [41]:
ts

2011-01-02    0.251958
2011-01-05   -0.967936
2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
2011-01-12    1.919465
dtype: float64

In [42]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -1.312419
2011-01-08    0.874997
2011-01-10    1.270374
dtype: float64

In [43]:
ts.truncate(after = "2011-01-09")

2011-01-02    0.251958
2011-01-05   -0.967936
2011-01-07   -1.312419
2011-01-08    0.874997
dtype: float64

In [45]:
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED")
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [47]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index = dates,
                       columns = ["Colorado", "Texas",
                                  "New York", "Ohio"])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05  0.544076  0.297472 -0.394658 -0.820791
2000-01-12 -1.679190 -1.187071  0.815392  0.344229
2000-01-19 -1.448898  0.967586 -0.768187 -0.568274
2000-01-26  0.610093 -1.013150  0.665557  1.044268
2000-02-02 -0.470766  1.048692  1.156571 -0.012055

In [48]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.306884  0.673074 -0.511758  0.450676
2001-05-09  0.545747  1.613180 -0.366608 -0.724777
2001-05-16  0.399496 -0.266039 -0.328506 -0.163025
2001-05-23 -0.181666  0.262842  0.224106  0.790907
2001-05-30 -1.130936 -1.545896 -0.342200 -0.968770

### Time Series with Duplicate Indices

In [49]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])

In [50]:
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [51]:
dup_ts.index.is_unique

False

In [52]:
dup_ts["2000-01-03"] # not duplicated

4

In [54]:
dup_ts["2000-01-02"] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [60]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [56]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting