# <b>Python for Data Analysis</b>
# 11.  Time Series

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress = True)
from pandas import Series, DataFrame
%matplotlib inline

## 11.1 Date and Time Data Types and Tools

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()
now

datetime.datetime(2024, 2, 9, 18, 4, 50, 651903)

In [4]:
now.year, now.month, now.day

(2024, 2, 9)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [12]:
stamp = datetime(2011, 1, 3)

In [13]:
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [15]:
value = "2011-01-03"

In [16]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ["7/6/2011", "8/6/2011"]

In [18]:
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

In [20]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [24]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [25]:
ts = pd.Series(np.random.standard_normal(6), index = dates)
ts

2011-01-02    0.534294
2011-01-05   -0.930434
2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
2011-01-12   -0.937263
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    1.068588
2011-01-05         NaN
2011-01-07   -2.179732
2011-01-08         NaN
2011-01-10   -2.766644
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [30]:
ts

2011-01-02    0.534294
2011-01-05   -0.930434
2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
2011-01-12   -0.937263
dtype: float64

In [31]:
stamp = ts.index[2]

In [32]:
ts[stamp]

-1.089866050313749

In [33]:
ts["2011-01-10"]

-1.383322162374689

In [34]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index = pd.date_range("2000-01-01", periods = 1000))
longer_ts

2000-01-01   -2.247667
2000-01-02    0.337966
2000-01-03   -0.537669
2000-01-04    0.898613
2000-01-05    0.453738
                ...
2002-09-22   -1.172177
2002-09-23   -0.558967
2002-09-24    0.126546
2002-09-25   -1.031255
2002-09-26    0.323458
Freq: D, Length: 1000, dtype: float64

In [35]:
longer_ts["2001"]

2001-01-01   -0.890341
2001-01-02   -0.310462
2001-01-03   -0.717335
2001-01-04    0.764997
2001-01-05    0.995415
                ...
2001-12-27    0.615939
2001-12-28   -2.036713
2001-12-29   -0.557120
2001-12-30   -0.588464
2001-12-31    0.829651
Freq: D, Length: 365, dtype: float64

In [36]:
longer_ts["2001-05"]

2001-05-01    0.062555
2001-05-02    1.186152
2001-05-03   -0.688725
2001-05-04   -1.993942
2001-05-05   -0.845686
                ...
2001-05-27    0.574060
2001-05-28    1.798838
2001-05-29    0.786819
2001-05-30    1.807285
2001-05-31    2.908382
Freq: D, Length: 31, dtype: float64

In [37]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
2011-01-12   -0.937263
dtype: float64

In [38]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
dtype: float64

In [39]:
ts

2011-01-02    0.534294
2011-01-05   -0.930434
2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
2011-01-12   -0.937263
dtype: float64

In [40]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
dtype: float64

In [41]:
ts.truncate(after = "2011-01-09")

2011-01-02    0.534294
2011-01-05   -0.930434
2011-01-07   -1.089866
2011-01-08   -1.500932
dtype: float64

In [42]:
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED")
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [43]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index = dates,
                       columns = ["Colorado", "Texas",
                                  "New York", "Ohio"])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05  0.288168 -1.895857  0.326552 -1.096207
2000-01-12  0.040369  0.228167  1.342660 -0.319682
2000-01-19 -0.248186  1.345005 -0.175295 -0.597915
2000-01-26 -0.199686 -1.069286  1.339795  0.724243
2000-02-02 -0.493113  1.039739 -0.309772  0.090359

In [44]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.563810  0.840288 -0.463090 -0.438973
2001-05-09 -0.359878  0.023357 -0.124598 -1.216069
2001-05-16  1.107103 -2.702822 -0.218278  0.431249
2001-05-23 -0.410726 -0.713641  0.279025  0.181428
2001-05-30  0.340608 -0.094688  0.115338 -0.445452

### Time Series with Duplicate Indices

In [45]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])

In [46]:
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [47]:
dup_ts.index.is_unique

False

In [48]:
dup_ts["2000-01-03"] # not duplicated

4

In [49]:
dup_ts["2000-01-02"] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [50]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [51]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [52]:
ts

2011-01-02    0.534294
2011-01-05   -0.930434
2011-01-07   -1.089866
2011-01-08   -1.500932
2011-01-10   -1.383322
2011-01-12   -0.937263
dtype: float64

In [53]:
resampler = ts.resample("D")
resampler

### Generating Date Ranges

In [54]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range("2024-01-01", "2024-02-29")

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(end = "2012-06-01", periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range(end = "2012-06-01", periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range("2000-01-01", "2000-12-01", freq = "BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [59]:
pd.date_range("2012-05-02 12:56:31", periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range("2012-05-02 12:56:31", periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [61]:
from pandas.tseries.offsets import Hour, Minute

In [62]:
hour = Hour()
hour

In [63]:
four_hours = Hour(4)
four_hours

In [64]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq = "4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [65]:
Hour(2) + Minute(30)

In [66]:
pd.date_range("2000-01-01", periods = 10, freq = "1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [67]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq = "WOM-3FRI")

In [68]:
list(monthly_dates)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [69]:
ts = pd.Series(np.random.standard_normal(4),
               index = pd.date_range("2000-01-01", periods = 4, freq = "M"))
ts

2000-01-31   -1.016288
2000-02-29   -1.077389
2000-03-31   -0.257323
2000-04-30   -2.177155
Freq: M, dtype: float64

In [70]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.016288
2000-04-30   -1.077389
Freq: M, dtype: float64

In [71]:
ts.shift(-2)

2000-01-31   -0.257323
2000-02-29   -2.177155
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [72]:
ts

2000-01-31   -1.016288
2000-02-29   -1.077389
2000-03-31   -0.257323
2000-04-30   -2.177155
Freq: M, dtype: float64

In [73]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -1.016288
2000-03-31   -1.077389
2000-04-30   -0.257323
Freq: M, dtype: float64

In [74]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.060121
2000-03-31   -0.761160
2000-04-30    7.460783
Freq: M, dtype: float64

In [75]:
(0.950065 / -0.737922) - 1

-2.28748702437385

In [76]:
ts.pct_change()

2000-01-31         NaN
2000-02-29    0.060121
2000-03-31   -0.761160
2000-04-30    7.460783
Freq: M, dtype: float64

In [77]:
ts

2000-01-31   -1.016288
2000-02-29   -1.077389
2000-03-31   -0.257323
2000-04-30   -2.177155
Freq: M, dtype: float64

In [78]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.016288
2000-04-30   -1.077389
Freq: M, dtype: float64

In [79]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.016288
2000-04-30   -1.077389
Freq: M, dtype: float64

In [80]:
ts.shift(3, freq = "D")

2000-02-03   -1.016288
2000-03-03   -1.077389
2000-04-03   -0.257323
2000-05-03   -2.177155
dtype: float64

In [81]:
ts.shift(1, freq = "90T")

2000-01-31 01:30:00   -1.016288
2000-02-29 01:30:00   -1.077389
2000-03-31 01:30:00   -0.257323
2000-04-30 01:30:00   -2.177155
dtype: float64

#### Shifting dates with offsets

In [82]:
from pandas.tseries.offsets import Day, MonthEnd

In [83]:
now = datetime(2011, 11, 17)

In [84]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [85]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [86]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [87]:
offset = MonthEnd()

In [88]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [89]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [90]:
ts = pd.Series(np.random.standard_normal(20),
               index = pd.date_range("2000-01-15", periods = 20, freq = "4D"))
ts

2000-01-15    2.093160
2000-01-19   -0.091940
2000-01-23    0.193649
2000-01-27    0.649433
2000-01-31    1.024140
2000-02-04   -1.130386
2000-02-08    0.303269
2000-02-12   -0.278280
2000-02-16   -0.411485
2000-02-20   -0.730257
2000-02-24    0.150715
2000-02-28   -1.525232
2000-03-03    0.891403
2000-03-07    0.736838
2000-03-11    0.278288
2000-03-15    1.742893
2000-03-19   -0.319052
2000-03-23    0.297866
2000-03-27   -0.144402
2000-03-31   -0.908696
Freq: 4D, dtype: float64

In [91]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31    0.773688
2000-02-29   -0.517380
2000-03-31    0.321893
dtype: float64

In [92]:
ts.resample("M").mean()

2000-01-31    0.773688
2000-02-29   -0.517380
2000-03-31    0.321893
Freq: M, dtype: float64

## 11.4 Time Zone Handling

In [93]:
import pytz

In [94]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [95]:
tz = pytz.timezone("America/New_York")
tz

### Time Zone Localization and Conversion

In [96]:
dates = pd.date_range("2012-03-09 09:30", periods = 6)

In [97]:
ts = pd.Series(np.random.standard_normal(len(dates)), index = dates)
ts

2012-03-09 09:30:00   -1.244740
2012-03-10 09:30:00    1.391447
2012-03-11 09:30:00   -0.792488
2012-03-12 09:30:00   -0.325492
2012-03-13 09:30:00    0.381699
2012-03-14 09:30:00   -1.588948
Freq: D, dtype: float64

In [98]:
print(ts.index.tz)

None

In [99]:
pd.date_range("2012-03-09 09:30", periods = 10, tz = "UTC")

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [100]:
ts

2012-03-09 09:30:00   -1.244740
2012-03-10 09:30:00    1.391447
2012-03-11 09:30:00   -0.792488
2012-03-12 09:30:00   -0.325492
2012-03-13 09:30:00    0.381699
2012-03-14 09:30:00   -1.588948
Freq: D, dtype: float64

In [101]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00   -1.244740
2012-03-10 09:30:00+00:00    1.391447
2012-03-11 09:30:00+00:00   -0.792488
2012-03-12 09:30:00+00:00   -0.325492
2012-03-13 09:30:00+00:00    0.381699
2012-03-14 09:30:00+00:00   -1.588948
Freq: D, dtype: float64

In [102]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [103]:
ts_utc.tz_convert("Europe/Amsterdam")

2012-03-09 10:30:00+01:00   -1.244740
2012-03-10 10:30:00+01:00    1.391447
2012-03-11 10:30:00+01:00   -0.792488
2012-03-12 10:30:00+01:00   -0.325492
2012-03-13 10:30:00+01:00    0.381699
2012-03-14 10:30:00+01:00   -1.588948
Freq: D, dtype: float64

In [104]:
ts_utc.tz_convert("Europe/Amsterdam")

2012-03-09 10:30:00+01:00   -1.244740
2012-03-10 10:30:00+01:00    1.391447
2012-03-11 10:30:00+01:00   -0.792488
2012-03-12 10:30:00+01:00   -0.325492
2012-03-13 10:30:00+01:00    0.381699
2012-03-14 10:30:00+01:00   -1.588948
Freq: D, dtype: float64

In [105]:
ts_eastern = ts.tz_localize("America/New_York")
ts_eastern

2012-03-09 09:30:00-05:00   -1.244740
2012-03-10 09:30:00-05:00    1.391447
2012-03-11 09:30:00-04:00   -0.792488
2012-03-12 09:30:00-04:00   -0.325492
2012-03-13 09:30:00-04:00    0.381699
2012-03-14 09:30:00-04:00   -1.588948
dtype: float64

In [106]:
ts_eastern.tz_convert("Europe/Berlin")

2012-03-09 15:30:00+01:00   -1.244740
2012-03-10 15:30:00+01:00    1.391447
2012-03-11 14:30:00+01:00   -0.792488
2012-03-12 14:30:00+01:00   -0.325492
2012-03-13 14:30:00+01:00    0.381699
2012-03-14 14:30:00+01:00   -1.588948
dtype: float64

In [107]:
ts.index.tz_localize("Asia/Shanghai")

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### Operations with Time Zone-Aware Timestamp Objects

In [108]:
stamp = pd.Timestamp("2011-03-12 04:00")

In [109]:
stamp_utc = stamp.tz_localize("utc")

In [110]:
stamp_utc.tz_convert("America/New_York")

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [111]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz = "Europe/Moscow")

In [112]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [113]:
stamp_utc.value

1299902400000000000

In [114]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

In [115]:
stamp = pd.Timestamp("2012-03-11 01:30", tz = "US/Eastern")
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [116]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [117]:
stamp = pd.Timestamp("2012-11-04 00:30", tz = "US/Eastern")
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [118]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [119]:
dates = pd.date_range("2012-03-07 09:30", periods = 10, freq = "B")

In [120]:
ts = pd.Series(np.random.standard_normal(len(dates)), index = dates)
ts

2012-03-07 09:30:00    0.678477
2012-03-08 09:30:00    1.162582
2012-03-09 09:30:00    0.407188
2012-03-12 09:30:00   -2.529813
2012-03-13 09:30:00    1.063193
2012-03-14 09:30:00    1.421693
2012-03-15 09:30:00    0.594323
2012-03-16 09:30:00   -0.029408
2012-03-19 09:30:00   -0.828453
2012-03-20 09:30:00    0.107868
Freq: B, dtype: float64

In [121]:
ts1 = ts[:7].tz_localize("Europe/London")

In [122]:
ts2 = ts1[2:].tz_convert("Europe/Moscow")

In [123]:
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Period Arithmetic

In [124]:
p = pd.Period("2011", freq = "A-DEC")
p

Period('2011', 'A-DEC')

In [125]:
p + 5

Period('2016', 'A-DEC')

In [126]:
p - 2

Period('2009', 'A-DEC')

In [127]:
pd.Period("2014", freq = "A-DEC") - p

In [128]:
periods = pd.period_range("2000-01-01", "2000-06-30", freq = "M")
periods

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [131]:
pd.Series(np.random.standard_normal(6), index = periods)

2000-01   -0.092947
2000-02   -0.803222
2000-03    0.657830
2000-04   -0.982309
2000-05    0.905081
2000-06    0.679094
Freq: M, dtype: float64

In [132]:
values = ["2001Q3", "2002Q2", "2003Q1"]

In [133]:
index = pd.PeriodIndex(values, freq = "Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

### Period Frequency Conversion

In [134]:
p = pd.Period("2011", freq = "A-DEC")
p

Period('2011', 'A-DEC')

In [135]:
p.asfreq("M", how = "start")

Period('2011-01', 'M')

In [136]:
p.asfreq("M", how = "end")

Period('2011-12', 'M')

In [137]:
p.asfreq("M")

Period('2011-12', 'M')

In [138]:
p = pd.Period("Aug-2011", "M")

In [139]:
p.asfreq("A-JUN")

Period('2012', 'A-JUN')

In [140]:
periods = pd.period_range("2006", "2009", freq = "A-DEC")

In [141]:
ts = pd.Series(np.random.standard_normal(len(periods)), index = periods)
ts

2006    1.266008
2007   -2.026895
2008    0.329275
2009   -1.320467
Freq: A-DEC, dtype: float64

In [142]:
ts.asfreq("M", how = "start")

2006-01    1.266008
2007-01   -2.026895
2008-01    0.329275
2009-01   -1.320467
Freq: M, dtype: float64

In [143]:
ts.asfreq("B", how = "end")

2006-12-29    1.266008
2007-12-31   -2.026895
2008-12-31    0.329275
2009-12-31   -1.320467
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [144]:
p = pd.Period("2012Q4", freq = "Q-JAN")
p

Period('2012Q4', 'Q-JAN')

In [145]:
p.asfreq("D", how = "start")

Period('2011-11-01', 'D')

In [146]:
p.asfreq("D", how = "end")

Period('2012-01-31', 'D')

In [149]:
p4pm = (p.asfreq("B", how = "end") - 1).asfreq("T", how = "start") + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [150]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [151]:
periods = pd.period_range("2011Q3", "2012Q4", freq = "Q-JAN")

In [152]:
ts = pd.Series(np.arange(len(periods)), index = periods)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [153]:
new_periods = (periods.asfreq("B", "end") - 1).asfreq("H", "start") + 16

In [155]:
ts.index = new_periods.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

### Converting Timestamps to Periods (and Back)

In [156]:
dates = pd.date_range("2000-01-01", periods = 3, freq = "M")

In [157]:
ts = pd.Series(np.random.standard_normal(3), index = dates)
ts

2000-01-31   -2.524249
2000-02-29    0.300212
2000-03-31    0.961543
Freq: M, dtype: float64

In [158]:
pts = ts.to_period()
pts

2000-01   -2.524249
2000-02    0.300212
2000-03    0.961543
Freq: M, dtype: float64

In [159]:
dates = pd.date_range("2000-01-29", periods = 6)

In [160]:
ts2 = pd.Series(np.random.standard_normal(6), index = dates)
ts2

2000-01-29    0.015959
2000-01-30   -0.241011
2000-01-31   -0.661796
2000-02-01   -1.087850
2000-02-02   -0.847249
2000-02-03   -0.089279
Freq: D, dtype: float64

In [161]:
ts2.to_period("M")

2000-01    0.015959
2000-01   -0.241011
2000-01   -0.661796
2000-02   -1.087850
2000-02   -0.847249
2000-02   -0.089279
Freq: M, dtype: float64

In [162]:
pts = ts2.to_period()
pts

2000-01-29    0.015959
2000-01-30   -0.241011
2000-01-31   -0.661796
2000-02-01   -1.087850
2000-02-02   -0.847249
2000-02-03   -0.089279
Freq: D, dtype: float64

In [163]:
pts.to_timestamp(how = "end")

2000-01-29 23:59:59.999999999    0.015959
2000-01-30 23:59:59.999999999   -0.241011
2000-01-31 23:59:59.999999999   -0.661796
2000-02-01 23:59:59.999999999   -1.087850
2000-02-02 23:59:59.999999999   -0.847249
2000-02-03 23:59:59.999999999   -0.089279
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [165]:
data = pd.read_csv("examples/macrodata.csv")
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [166]:
data["year"]

0      1959
1      1959
2      1959
3      1959
4      1960
       ...
198    2008
199    2008
200    2009
201    2009
202    2009
Name: year, Length: 203, dtype: int64

In [167]:
data["quarter"]

0      1
1      2
2      3
3      4
4      1
      ..
198    3
199    4
200    1
201    2
202    3
Name: quarter, Length: 203, dtype: int64

In [169]:
index = pd.PeriodIndex(year = data["year"], quarter = data["quarter"],
                       freq = "Q-DEC")
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203)

In [170]:
data.index = index

In [172]:
data["infl"]

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## 11.6 Resampling and Frequency Conversion

In [174]:
dates = pd.date_range("2000-01-01", periods = 100)

In [175]:
ts = pd.Series(np.random.standard_normal(len(dates)),
               index = dates)
ts

2000-01-01    0.914642
2000-01-02   -0.547332
2000-01-03   -1.753251
2000-01-04   -0.257196
2000-01-05    2.298663
                ...
2000-04-05   -0.700641
2000-04-06    0.637674
2000-04-07   -0.522167
2000-04-08    0.449652
2000-04-09    1.190849
Freq: D, Length: 100, dtype: float64

In [176]:
ts.resample("M").mean()

2000-01-31    0.124528
2000-02-29   -0.211527
2000-03-31   -0.020345
2000-04-30    0.202258
Freq: M, dtype: float64

In [177]:
ts.resample("M", kind = "period").mean()

2000-01    0.124528
2000-02   -0.211527
2000-03   -0.020345
2000-04    0.202258
Freq: M, dtype: float64

### Downsampling

In [179]:
dates = pd.date_range("2000-01-01", periods = 12, freq = "T")

In [180]:
ts = pd.Series(np.arange(len(dates)), index = dates)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [181]:
ts.resample("5min").sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [182]:
ts.resample("5min", closed = "right").sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [183]:
ts.resample("5min", closed = "right", label = "right").sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [184]:
from pandas.tseries.frequencies import to_offset

In [185]:
result = ts.resample("5min", closed = "right", label = "right").sum()

In [186]:
result.index = result.index + to_offset("-1s")
result

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

#### Open-high-low-close (OHLC) resampling

In [189]:
ts = pd.Series(np.random.permutation(np.arange(len(dates))), index = dates)
ts

2000-01-01 00:00:00    10
2000-01-01 00:01:00     6
2000-01-01 00:02:00     5
2000-01-01 00:03:00     2
2000-01-01 00:04:00     4
2000-01-01 00:05:00     0
2000-01-01 00:06:00    11
2000-01-01 00:07:00     9
2000-01-01 00:08:00     1
2000-01-01 00:09:00     7
2000-01-01 00:10:00     8
2000-01-01 00:11:00     3
Freq: T, dtype: int32

In [188]:
ts.resample("5min").ohlc()

                     open  high  low  close
2000-01-01 00:00:00     2     4    0      3
2000-01-01 00:05:00     9    10    5      7
2000-01-01 00:10:00    11    11    6      6

### Upsampling and Interpolation

In [190]:
frame = pd.DataFrame(np.random.standard_normal((2, 4)),
                     index = pd.date_range("2000-01-01", periods = 2,
                                           freq = "W-WED"),
                     columns = ["Colorado", "Texas", "New York", "Ohio"])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.162529  0.263173 -1.009571  1.892444
2000-01-12 -0.827102 -0.351053  1.975845  0.178709

In [191]:
df_daily = frame.resample("D").asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.162529  0.263173 -1.009571  1.892444
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.827102 -0.351053  1.975845  0.178709

In [192]:
frame.resample("D").ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.162529  0.263173 -1.009571  1.892444
2000-01-06 -0.162529  0.263173 -1.009571  1.892444
2000-01-07 -0.162529  0.263173 -1.009571  1.892444
2000-01-08 -0.162529  0.263173 -1.009571  1.892444
2000-01-09 -0.162529  0.263173 -1.009571  1.892444
2000-01-10 -0.162529  0.263173 -1.009571  1.892444
2000-01-11 -0.162529  0.263173 -1.009571  1.892444
2000-01-12 -0.827102 -0.351053  1.975845  0.178709

In [193]:
frame.resample("D").ffill(limit = 2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.162529  0.263173 -1.009571  1.892444
2000-01-06 -0.162529  0.263173 -1.009571  1.892444
2000-01-07 -0.162529  0.263173 -1.009571  1.892444
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.827102 -0.351053  1.975845  0.178709

In [194]:
frame.resample("W-THU").ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -0.162529  0.263173 -1.009571  1.892444
2000-01-13 -0.827102 -0.351053  1.975845  0.178709

### Resampling with Periods